In [165]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [166]:
# 1 Add the function that takes in  arguments for each combined data file;


# Read in the files as Pandas DataFrames.

postsecdata_to_load = "https://raw.githubusercontent.com/Lalita-ponnapalli/HS_Baseball_Scholarships/main/Resources/postsecondary_enrollment_combined_1718_1819_1920.csv"
budgetrollup_to_load = "https://raw.githubusercontent.com/Lalita-ponnapalli/HS_Baseball_Scholarships/main/Resources/combined_rollup_budget_data_1718_1819.csv"
costdata_to_load = "https://raw.githubusercontent.com/Lalita-ponnapalli/HS_Baseball_Scholarships/main/Resources/comp_cost_combined_1718_1819_1920_2021.csv"
revenuedata_to_load = "https://raw.githubusercontent.com/Lalita-ponnapalli/HS_Baseball_Scholarships/main/Resources/comp_rev_combined_1718_1819_1920_2021.csv"
reportcarddata_to_load = "https://raw.githubusercontent.com/Lalita-ponnapalli/HS_Baseball_Scholarships/main/Resources/district_reportcard_combined_1718_1819_2021.csv"
masterlist_to_load = "https://raw.githubusercontent.com/Lalita-ponnapalli/HS_Baseball_Scholarships/main/Resources/Master_Schools_list.csv"

post_sec_df = pd.read_csv(postsecdata_to_load)
budget_df = pd.read_csv(budgetrollup_to_load)
cost_df = pd.read_csv(costdata_to_load)
revenue_df = pd.read_csv(revenuedata_to_load)
reportcard_df = pd.read_csv(reportcarddata_to_load)
masterlist_df = pd.read_csv(masterlist_to_load)

In [167]:
masterlist_df.dtypes

DISTRICT_ID       int64
DISTRICT_NAME    object
dtype: object

In [168]:
revenue_df.dtypes

FISCAL_YEAR      object
DISTRICT_ID       int64
DISTRICT NAME    object
 PROPTAX         object
 FEDERAL         object
 STATE           object
 LOCAL           object
 TOTAL           object
MEMBER            int64
dtype: object

In [89]:
revenue_df.head()

,FISCAL_YEAR,DISTRICT_ID,DISTRICT NAME,PROPTAX,FEDERAL,STATE,LOCAL,TOTAL,MEMBER
0,2019-20,7,Abbotsford,"$2,083,227.00","$953,036.11","$7,452,256.84","$278,642.20","$10,767,162.15",775
1,2019-20,14,Adams-Friendship Area,"$11,131,295.00","$2,689,740.62","$8,870,177.62","$834,039.30","$23,525,252.54",1511
2,2019-20,63,Albany,"$3,177,694.00","$346,574.24","$3,407,735.52","$446,756.32","$7,378,760.08",456
3,2019-20,70,Algoma,"$3,425,587.00","$786,992.57","$5,711,573.86","$535,291.62","$10,459,445.05",753
4,2019-20,84,Alma,"$2,239,440.00","$226,704.19","$1,256,589.53","$228,973.16","$3,951,706.88",234

In [90]:
revenue_df.count()

FISCAL_YEAR      1681
DISTRICT_ID      1681
DISTRICT NAME    1681
 PROPTAX         1681
 FEDERAL         1681
 STATE           1681
 LOCAL           1681
 TOTAL           1681
MEMBER           1681
dtype: int64

In [91]:
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace(',', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace('$', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].astype(float)

revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace(',', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace('$', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].astype(float)

revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace(',', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace('$', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].astype(float)

revenue_df[' STATE '] = revenue_df[' STATE '].str.replace(',', '')
revenue_df[' STATE '] = revenue_df[' STATE '].str.replace('$', '')
revenue_df[' STATE '] = revenue_df[' STATE '].astype(float)

revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace(',', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace('$', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].astype(float)

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [92]:
revenue_df = revenue_df.rename(columns={'FISCAL_YEAR': 'year'})
revenue_df = revenue_df.rename(columns={' STATE ': 'revstate'})
revenue_df = revenue_df.rename(columns={' FEDERAL ': 'revfederal'})
revenue_df = revenue_df.rename(columns={' PROPTAX ': 'revproptax'})
revenue_df = revenue_df.rename(columns={' TOTAL ': 'revtotal'})
revenue_df = revenue_df.rename(columns={' LOCAL ': 'revlocal'})
revenue_df = revenue_df.rename(columns={'DISTRICT NAME': 'district'})
revenue_df = revenue_df.rename(columns={'DISTRICT_ID': 'id'})


revenue_df.head()

,year,id,district,revproptax,revfederal,revstate,revlocal,revtotal,MEMBER
0,2019-20,7,Abbotsford,2083227.0,953036.11,7452256.84,278642.20,10767162.15,775
1,2019-20,14,Adams-Friendship Area,11131295.0,2689740.62,8870177.62,834039.30,23525252.54,1511
2,2019-20,63,Albany,3177694.0,346574.24,3407735.52,446756.32,7378760.08,456
3,2019-20,70,Algoma,3425587.0,786992.57,5711573.86,535291.62,10459445.05,753
4,2019-20,84,Alma,2239440.0,226704.19,1256589.53,228973.16,3951706.88,234

In [93]:
revenue_df.head()

,year,id,district,revproptax,revfederal,revstate,revlocal,revtotal,MEMBER
0,2019-20,7,Abbotsford,2083227.0,953036.11,7452256.84,278642.20,10767162.15,775
1,2019-20,14,Adams-Friendship Area,11131295.0,2689740.62,8870177.62,834039.30,23525252.54,1511
2,2019-20,63,Albany,3177694.0,346574.24,3407735.52,446756.32,7378760.08,456
3,2019-20,70,Algoma,3425587.0,786992.57,5711573.86,535291.62,10459445.05,753
4,2019-20,84,Alma,2239440.0,226704.19,1256589.53,228973.16,3951706.88,234

In [94]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [95]:
cost_df.dtypes

DISTRICT_ID                 int64
DISTRICT_NAME              object
FISCAL_YEAR                 int64
Member                      int64
Instruction                object
Pupil_Staff_Support        object
Admin                      object
Operation_Other            object
Transportation_cost        object
Facility_cost              object
Food_comm_service_cost     object
dtype: object

In [96]:
cost_df.count()

DISTRICT_ID                1683
DISTRICT_NAME              1683
FISCAL_YEAR                1683
Member                     1683
Instruction                1683
Pupil_Staff_Support        1683
Admin                      1683
Operation_Other            1683
Transportation_cost        1683
Facility_cost              1683
Food_comm_service_cost     1683
dtype: int64

In [97]:
#dropping Holy Hill Area from data because no cost data in 2018 
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2570]
#dropping Norris (missing data and correctional facility outlier)
cost_df = cost_df[cost_df['DISTRICT_ID'] != 3976]

#dropping two more with - values in food service column
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2051]
cost_df = cost_df[cost_df['DISTRICT_ID'] != 6069]
cost_df.count()

DISTRICT_ID                1670
DISTRICT_NAME              1670
FISCAL_YEAR                1670
Member                     1670
Instruction                1670
Pupil_Staff_Support        1670
Admin                      1670
Operation_Other            1670
Transportation_cost        1670
Facility_cost              1670
Food_comm_service_cost     1670
dtype: int64

In [98]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [99]:
cost_df['Instruction '] = cost_df['Instruction '].str.replace(',', '')
cost_df['Instruction '] = cost_df['Instruction '].str.replace('$', '')
cost_df['Instruction '] = cost_df['Instruction '].astype(float)

cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace(',', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace('$', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].astype(float)

cost_df['Admin '] = cost_df['Admin '].str.replace(',', '')
cost_df['Admin '] = cost_df['Admin '].str.replace('$', '')
cost_df['Admin '] = cost_df['Admin '].astype(float)

cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace(',', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace('$', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].astype(float)

cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace(',', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace('$', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].astype(float)

#not going to use facility cost because too many - values and not useful to us
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(',', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('(', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(')', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('$', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].astype(float)

cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace(',', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace('$', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].astype(float)

cost_df.head()

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,"$690,000.00",624371.52
1,7,Abbotsford,2021,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,"$713,053.29",674102.51
2,7,Abbotsford,2018,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,"$683,000.00",552630.62
3,7,Abbotsford,2019,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,"$1,274,752.00",603227.06
4,14,Adams-Friendship Area,2020,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,"$118,519.60",1287245.82

In [100]:
#dropping facility cost column
cost_df = cost_df.drop(['Facility_cost '], axis=1)

# cost_df.head()

In [101]:
#replace fiscal year value with school year and rename column
cost_df.loc[cost_df['FISCAL_YEAR'] == 2020, 'FISCAL_YEAR'] = '2019-20'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2018, 'FISCAL_YEAR'] = '2017-18'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2019, 'FISCAL_YEAR'] = '2018-19'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2021, 'FISCAL_YEAR'] = '2020-21'

cost_df = cost_df.rename(columns={'FISCAL_YEAR': 'year'})
cost_df = cost_df.rename(columns={'DISTRICT_ID': 'id'})
cost_df = cost_df.rename(columns={'DISTRICT_NAME': 'district'})
cost_df = cost_df.rename(columns={'Instruction': 'costinstruction'})
cost_df = cost_df.rename(columns={'Pupil_Staff_Support ': 'costpupilstaff'})
cost_df = cost_df.rename(columns={'Admin ': 'costadmin'})
cost_df = cost_df.rename(columns={'Operation_Other ': 'costoperation'})
cost_df = cost_df.rename(columns={'Transportation_cost ': 'costtransport'})
cost_df = cost_df.rename(columns={'Food_comm_service_cost ': 'costfoodservice'})

cost_df.head()

,id,district,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice
0,7,Abbotsford,2019-20,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52
1,7,Abbotsford,2020-21,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51
2,7,Abbotsford,2017-18,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62
3,7,Abbotsford,2018-19,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06
4,14,Adams-Friendship Area,2019-20,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82

In [102]:
reportcard_df.count()

School_Year                                          1264
District_ID                                          1264
School_Code                                           885
Cooperative_Educational_Service_Agency               1264
District_Name                                        1264
Overall_Accountability_Score                         1261
Overall_Accountability_Rating                        1261
Lowest_Grade_in_the_District                         1264
Highest_Grade_in_the_District                        1264
School_Type                                           133
District_Enrollment                                  1264
Percent_American_Indian_or_Alaskan_Native            1264
Percent_Asian                                        1264
Percent_Black_or_African_American                    1264
Percent_Hispanic_Latino                              1264
Percent_Native_Hawaiian_or_Other_Pacific_Islander    1264
Percent_White                                        1264
Percent_Two_or_More_Races                            1264
Percent_Students_with_Disabilities                   1264
Percent_Economically_Disadvantaged                   1264
Percent_Limited_English_Proficient                   1264
Percent_Within_District_Mobility                     1264
Percent_Between_District_Mobility                    1264
District_Student_Achievement_Score                   1260
District_ELA_Achievement_Score                       1260
District_Mathematics_Achievement_Score               1260
District_Student_Growth_Score                        1250
District_ELA_Growth_Score                            1250
District_Mathematics_Growth_Score                    1250
dtype: int64

In [103]:
#check for missing values
reportcard_df

,School_Year,District_ID,School_Code,Cooperative_Educational_Service_Agency,District_Name,Overall_Accountability_Score,Overall_Accountability_Rating,Lowest_Grade_in_the_District,Highest_Grade_in_the_District,School_Type,...,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_ELA_Achievement_Score,District_Mathematics_Achievement_Score,District_Student_Growth_Score,District_ELA_Growth_Score,District_Mathematics_Growth_Score
0,2020-21,2450,20,Arrowhead UHS,Arrowhead High,85.2,Significantly Exceeds Expectations,9,12,High School,...,0.084,0.003,0.0,0.011,88.1,84.6,91.6,71.7,58.4,85.0
1,2020-21,6013,20,Big Foot UHS,Big Foot High,71.5,Exceeds Expectations,9,12,High School,...,0.423,0.047,0.0,0.013,60.6,65.7,55.5,71.7,77.4,66.0
2,2020-21,657,20,Brighton #1,Brighton Elementary,83.4,Significantly Exceeds Expectations,K4,8,Elementary School,...,0.17,0.005,0.0,0.025,88.9,86.6,91.2,65.1,60.3,69.8
3,2020-21,665,20,Bristol #1,Bristol Elementary,80.3,Exceeds Expectations,K4,8,Elementary School,...,0.224,0.009,0.0,0.015,75.3,76.3,74.2,75.5,81.2,69.8
4,2020-21,5054,20,Central/Westosha UHS,Central High,71.2,Exceeds Expectations,9,12,High School,...,0.213,0.012,0.0,0.027,71.6,73.8,69.4,70.8,66.0,75.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,2018-19,6083,20,Waterford UHS,Waterford High,79.6,Exceeds Expectations^,9,12,High School,...,0.094,0.005,0.0,0.017,74.4,37.2,37.2,78.4,33.0,45.4
1260,2018-19,6412,20,Wheatland J1,Wheatland Center Elementary,71,Meets Expectations,K4,8,Elementary School,...,0.458,0.002,0.0,0.026,74.2,37.3,36.9,68.0,37.8,30.2
1261,2018-19,6545,20,Wilmot UHS,Wilmot High,70,Meets Expectations,9,12,High School,...,0.288,0.007,0.0,0.054,65.3,33.8,31.5,52.7,29.2,23.5
1262,2018-19,6720,20,Woodruff J1,Arbor Vitae-Woodruff Elementary,81.8,Exceeds Expectations,K4,8,Elementary School,...,0.514,0,0.0,0.033,77.4,39.3,38.1,78.4,35.9,42.5
1263,2018-19,6748,20,Yorkville J2,Yorkville Elementary,84.1,Significantly Exceeds Expectations,K4,8,Elementary School,...,0.1,0.007,0.0,0.007,77.2,38.2,39.0,79.3,40.6,38.7

In [104]:
#checking the data types
reportcard_df.dtypes

School_Year                                           object
District_ID                                            int64
School_Code                                           object
Cooperative_Educational_Service_Agency                object
District_Name                                         object
Overall_Accountability_Score                          object
Overall_Accountability_Rating                         object
Lowest_Grade_in_the_District                          object
Highest_Grade_in_the_District                          int64
School_Type                                           object
District_Enrollment                                    int64
Percent_American_Indian_or_Alaskan_Native            float64
Percent_Asian                                        float64
Percent_Black_or_African_American                    float64
Percent_Hispanic_Latino                              float64
Percent_Native_Hawaiian_or_Other_Pacific_Islander    float64
Percent_White                                        float64
Percent_Two_or_More_Races                            float64
Percent_Students_with_Disabilities                    object
Percent_Economically_Disadvantaged                    object
Percent_Limited_English_Proficient                    object
Percent_Within_District_Mobility                     float64
Percent_Between_District_Mobility                    float64
District_Student_Achievement_Score                   float64
District_ELA_Achievement_Score                       float64
District_Mathematics_Achievement_Score               float64
District_Student_Growth_Score                        float64
District_ELA_Growth_Score                            float64
District_Mathematics_Growth_Score                    float64
dtype: object

In [105]:
for col in reportcard_df.columns:
    print(col)

School_Year
District_ID
School_Code
Cooperative_Educational_Service_Agency
District_Name
Overall_Accountability_Score
Overall_Accountability_Rating
Lowest_Grade_in_the_District
Highest_Grade_in_the_District
School_Type
District_Enrollment
Percent_American_Indian_or_Alaskan_Native
Percent_Asian
Percent_Black_or_African_American
Percent_Hispanic_Latino
Percent_Native_Hawaiian_or_Other_Pacific_Islander
Percent_White
Percent_Two_or_More_Races
Percent_Students_with_Disabilities
Percent_Economically_Disadvantaged
Percent_Limited_English_Proficient
Percent_Within_District_Mobility
Percent_Between_District_Mobility
District_Student_Achievement_Score
District_ELA_Achievement_Score
District_Mathematics_Achievement_Score
District_Student_Growth_Score
District_ELA_Growth_Score
District_Mathematics_Growth_Score

In [106]:
# checking the null values but not removing due to data loss
reportcard_df.isnull().sum()

School_Year                                             0
District_ID                                             0
School_Code                                           379
Cooperative_Educational_Service_Agency                  0
District_Name                                           0
Overall_Accountability_Score                            3
Overall_Accountability_Rating                           3
Lowest_Grade_in_the_District                            0
Highest_Grade_in_the_District                           0
School_Type                                          1131
District_Enrollment                                     0
Percent_American_Indian_or_Alaskan_Native               0
Percent_Asian                                           0
Percent_Black_or_African_American                       0
Percent_Hispanic_Latino                                 0
Percent_Native_Hawaiian_or_Other_Pacific_Islander       0
Percent_White                                           0
Percent_Two_or_More_Races                               0
Percent_Students_with_Disabilities                      0
Percent_Economically_Disadvantaged                      0
Percent_Limited_English_Proficient                      0
Percent_Within_District_Mobility                        0
Percent_Between_District_Mobility                       0
District_Student_Achievement_Score                      4
District_ELA_Achievement_Score                          4
District_Mathematics_Achievement_Score                  4
District_Student_Growth_Score                          14
District_ELA_Growth_Score                              14
District_Mathematics_Growth_Score                      14
dtype: int64

In [107]:
# removing columns 'School_Code','School_Type'
reportcard_df = reportcard_df.drop(columns=['School_Code','School_Type'])
#changing data type to string
reportcard_df['Cooperative_Educational_Service_Agency'] = reportcard_df['Cooperative_Educational_Service_Agency'].astype("string")
#changing data type to string
reportcard_df['Lowest_Grade_in_the_District'] = reportcard_df['Lowest_Grade_in_the_District'].astype("string")
#changing data type to string
reportcard_df['Highest_Grade_in_the_District'] = reportcard_df['Highest_Grade_in_the_District'].astype("string")
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df= reportcard_df.dropna(subset =['Overall_Accountability_Score'])
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df = reportcard_df[reportcard_df['Overall_Accountability_Score']!='AR']
#changing data type to float
reportcard_df['Overall_Accountability_Score'] =reportcard_df['Overall_Accountability_Score'].astype(float)
#changing data type to float
reportcard_df['Percent_Students_with_Disabilities'] =reportcard_df['Percent_Students_with_Disabilities'].astype(float)
#changing data type to float
reportcard_df['Percent_Limited_English_Proficient'] =reportcard_df['Percent_Limited_English_Proficient'].astype(float)
#changing data type to float
reportcard_df['Percent_Economically_Disadvantaged'] =reportcard_df['Percent_Economically_Disadvantaged'].astype(float)

reportcard_df = reportcard_df.rename(columns={'School_Year': 'SCHOOL_YEAR'})

reportcard_df = reportcard_df.rename(columns={'SCHOOL_YEAR': 'year'})
reportcard_df = reportcard_df.rename(columns={'District_ID': 'id'})
reportcard_df = reportcard_df.rename(columns={'District_Name': 'DISTRICT'})


#New dtypes
reportcard_df.dtypes

year                                                  object
id                                                     int64
Cooperative_Educational_Service_Agency                string
DISTRICT                                              object
Overall_Accountability_Score                         float64
Overall_Accountability_Rating                         object
Lowest_Grade_in_the_District                          string
Highest_Grade_in_the_District                         string
District_Enrollment                                    int64
Percent_American_Indian_or_Alaskan_Native            float64
Percent_Asian                                        float64
Percent_Black_or_African_American                    float64
Percent_Hispanic_Latino                              float64
Percent_Native_Hawaiian_or_Other_Pacific_Islander    float64
Percent_White                                        float64
Percent_Two_or_More_Races                            float64
Percent_Students_with_Disabilities                   float64
Percent_Economically_Disadvantaged                   float64
Percent_Limited_English_Proficient                   float64
Percent_Within_District_Mobility                     float64
Percent_Between_District_Mobility                    float64
District_Student_Achievement_Score                   float64
District_ELA_Achievement_Score                       float64
District_Mathematics_Achievement_Score               float64
District_Student_Growth_Score                        float64
District_ELA_Growth_Score                            float64
District_Mathematics_Growth_Score                    float64
dtype: object

In [108]:
reportcard_df = reportcard_df.rename(columns={'YEAR': 'year'})
reportcard_df = reportcard_df.rename(columns={'ID': 'id'})

In [109]:
post_sec_df.dtypes

SCHOOL_YEAR              object
AGENCY_TYPE              object
CHARTER_IND              object
CESA                    float64
COUNTY                   object
DISTRICT_ID               int64
SCHOOL_CODE             float64
GRADE_GROUP              object
DISTRICT_NAME            object
SCHOOL_NAME              object
INITIAL_ENROLLMENT       object
INSTITUTION_LOCATION     object
INSTITUTION_LEVEL        object
INSTITUTION_TYPE         object
GROUP_BY                 object
GROUP_BY_VALUE           object
GROUP_COUNT              object
STUDENT_COUNT            object
dtype: object

In [110]:
post_sec_df.count()

SCHOOL_YEAR             228739
AGENCY_TYPE             226669
CHARTER_IND             226669
CESA                    226669
COUNTY                  226669
DISTRICT_ID             228739
SCHOOL_CODE             124358
GRADE_GROUP             228739
DISTRICT_NAME           228739
SCHOOL_NAME             228739
INITIAL_ENROLLMENT      228739
INSTITUTION_LOCATION    228739
INSTITUTION_LEVEL       228739
INSTITUTION_TYPE        228739
GROUP_BY                228739
GROUP_BY_VALUE          228739
GROUP_COUNT             228739
STUDENT_COUNT           228739
dtype: int64

In [111]:
# Remove aggregate data with [Statewide] distinction
post_sec_df = post_sec_df[post_sec_df['DISTRICT_ID'] != 0]
post_sec_df.head(10)

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_ID,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT
576,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,2-Year,Public,All Students,All Students,21,4
577,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,4-Year,Public,All Students,All Students,21,12
578,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,Multiple,Public,All Students,All Students,21,1
579,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,Out-of-State,4-Year,Private,All Students,All Students,21,1
580,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],Second Fall,In-State,4-Year,Private,All Students,All Students,21,1
581,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],Second Fall,In-State,4-Year,Public,All Students,All Students,21,2
582,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,2-Year,Public,Disability Status,SwoD,21,4
583,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,4-Year,Public,Disability Status,SwoD,21,12
584,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,Multiple,Public,Disability Status,SwoD,21,1
585,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,Out-of-State,4-Year,Private,Disability Status,SwoD,21,1

In [112]:
post_sec_df = post_sec_df[post_sec_df['STUDENT_COUNT'] != '*']
post_sec_df.count()

SCHOOL_YEAR             212753
AGENCY_TYPE             212753
CHARTER_IND             212753
CESA                    212753
COUNTY                  212753
DISTRICT_ID             212753
SCHOOL_CODE             115830
GRADE_GROUP             212753
DISTRICT_NAME           212753
SCHOOL_NAME             212753
INITIAL_ENROLLMENT      212753
INSTITUTION_LOCATION    212753
INSTITUTION_LEVEL       212753
INSTITUTION_TYPE        212753
GROUP_BY                212753
GROUP_BY_VALUE          212753
GROUP_COUNT             212753
STUDENT_COUNT           212753
dtype: int64

In [113]:
# replace '*' with NaN
post_sec_df = post_sec_df.replace('*', np.NaN)
# Remove aggregate data with [Districtwide] distinction
post_sec_df = post_sec_df[post_sec_df['SCHOOL_NAME'] != '[Districtwide]']
post_sec_df.count()

SCHOOL_YEAR             115830
AGENCY_TYPE             115830
CHARTER_IND             115830
CESA                    115830
COUNTY                  115830
DISTRICT_ID             115830
SCHOOL_CODE             115830
GRADE_GROUP             115830
DISTRICT_NAME           115830
SCHOOL_NAME             115830
INITIAL_ENROLLMENT      115830
INSTITUTION_LOCATION    115830
INSTITUTION_LEVEL       115830
INSTITUTION_TYPE        115830
GROUP_BY                115830
GROUP_BY_VALUE          115830
GROUP_COUNT             115830
STUDENT_COUNT           115830
dtype: int64

In [114]:
# Typecast numeric data
post_sec_df['CESA'] = post_sec_df['CESA'].astype(int)
post_sec_df['SCHOOL_CODE'] = post_sec_df['SCHOOL_CODE'].astype(int)
post_sec_df['GROUP_COUNT'] = post_sec_df['GROUP_COUNT'].astype(int)
post_sec_df['STUDENT_COUNT'] = post_sec_df['STUDENT_COUNT'].astype(int)

# Change Charter School Yes/No to a boolean
post_sec_df['CHARTER_IND'].replace(('Yes', 'No'), (True, False), inplace=True)

post_sec_df = post_sec_df.rename(columns={'SCHOOL_YEAR': 'YEAR'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_ID': 'ID'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

In [115]:
post_sec_df.dtypes

YEAR                    object
AGENCY_TYPE             object
CHARTER_IND               bool
CESA                     int32
COUNTY                  object
ID                       int64
SCHOOL_CODE              int32
GRADE_GROUP             object
DISTRICT                object
SCHOOL_NAME             object
INITIAL_ENROLLMENT      object
INSTITUTION_LOCATION    object
INSTITUTION_LEVEL       object
INSTITUTION_TYPE        object
GROUP_BY                object
GROUP_BY_VALUE          object
GROUP_COUNT              int32
STUDENT_COUNT            int32
dtype: object

In [116]:
post_sec_df.to_csv('post_sec_clean.csv')

In [117]:
#check for missing values
budget_df.count()

School_Year      720786
DISTRICT_ID      720786
DISTRICT_NAME    720786
Fund_Function    720786
 AMOUNT          720786
dtype: int64

In [118]:
#total empty rows
budget_df.isnull().sum()

School_Year      0
DISTRICT_ID      0
DISTRICT_NAME    0
Fund_Function    0
 AMOUNT          0
dtype: int64

In [119]:
budget_df.dtypes

School_Year      object
DISTRICT_ID       int64
DISTRICT_NAME    object
Fund_Function    object
 AMOUNT          object
dtype: object

In [120]:
#dropping Hartford UHS and Platteville with - values in amount column
budget_df = budget_df[budget_df[' AMOUNT '] != ' $-   ']
budget_df.count()

School_Year      720782
DISTRICT_ID      720782
DISTRICT_NAME    720782
Fund_Function    720782
 AMOUNT          720782
dtype: int64

In [121]:
# Remove $ and , and convert to float
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(',', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(' ', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('(', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(')', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('$', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].astype(float)

budget_df = budget_df.rename(columns={'School_Year': 'YEAR'})
budget_df = budget_df.rename(columns={'DISTRICT_ID': 'ID'})
budget_df = budget_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """
C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [122]:
budget_df.head()

      YEAR  ID    DISTRICT  Fund_Function    AMOUNT
0  2017-18   7  Abbotsford  08B 800000001  5761542.0
1  2017-18   7  Abbotsford  08B 800000002  5080000.0
2  2017-18   7  Abbotsford  08B 840000001  5761542.0
3  2017-18   7  Abbotsford  08B 840000002  5080000.0
4  2017-18   7  Abbotsford  08B 842300001  5650000.0

In [123]:
# split column and add new columns to df
split_fund_function = budget_df['Fund_Function'].str.split(' ', expand=True)
# display the dataframe
split_fund_function.head()

     0          1
0  08B  800000001
1  08B  800000002
2  08B  840000001
3  08B  840000002
4  08B  842300001

In [124]:
#dropping fund function column
budget_df = budget_df.drop(['Fund_Function'], axis=1)
budget_df.head()

      YEAR  ID    DISTRICT    AMOUNT
0  2017-18   7  Abbotsford  5761542.0
1  2017-18   7  Abbotsford  5080000.0
2  2017-18   7  Abbotsford  5761542.0
3  2017-18   7  Abbotsford  5080000.0
4  2017-18   7  Abbotsford  5650000.0

In [125]:
budget_df = budget_df.join(split_fund_function)
budget_df.head()

      YEAR  ID    DISTRICT    AMOUNT     0          1
0  2017-18   7  Abbotsford  5761542.0  08B  800000001
1  2017-18   7  Abbotsford  5080000.0  08B  800000002
2  2017-18   7  Abbotsford  5761542.0  08B  840000001
3  2017-18   7  Abbotsford  5080000.0  08B  840000002
4  2017-18   7  Abbotsford  5650000.0  08B  842300001

In [126]:
budget_df.columns = ['year', 'id', 'district', 'amount', 'fund', 'dpifunction']

In [127]:
budget_df

           year    id      district     amount fund dpifunction
0       2017-18     7    Abbotsford  5761542.0  08B   800000001
1       2017-18     7    Abbotsford  5080000.0  08B   800000002
2       2017-18     7    Abbotsford  5761542.0  08B   840000001
3       2017-18     7    Abbotsford  5080000.0  08B   840000002
4       2017-18     7    Abbotsford  5650000.0  08B   842300001
...         ...   ...           ...        ...  ...         ...
720781  2018-19  6748  Yorkville J2     8000.0  80E   253000100
720782  2018-19  6748  Yorkville J2     8000.0  80R   000000000
720783  2018-19  6748  Yorkville J2     8000.0  80R   000000200
720784  2018-19  6748  Yorkville J2     8000.0  80R   000000210
720785  2018-19  6748  Yorkville J2     8000.0  80R   000000211

[720782 rows x 6 columns]

In [128]:
#limit to only functions that begin with 16
budget_df = budget_df[budget_df.dpifunction.str.startswith('16')]

# foo[foo.b.str.startswith('f')]

budget_df.sample(50)

           year    id                  district     amount fund dpifunction
432473  2018-19  1561                     Edgar   11500.00  10E   160000900
210448  2017-18  3514                North Lake     750.00  21E   160000900
330739  2017-18  6335                 Westfield      92.00  10E   160000230
443779  2018-19  1736                Fall River   13500.00  10E   160000900
512158  2018-19  2940                     Laona    3400.00  10E   160000200
658053  2018-19  5614               Stockbridge    1000.00  10E   160000342
370002  2018-19   315                  Bayfield    4350.00  10E   160000345
165072  2017-18  3304             Marathon City   62743.00  10E   160000300
667616  2018-19  5740                  Tigerton     400.00  10E   160000450
259946  2017-18  5523              River Valley   15250.00  10E   160000410
197867  2017-18  3892                    Neenah  581284.00  10E   160000100
633928  2018-19  5100              Sauk Prairie    1539.00  99E   160000220
25678   2017-18   422             Beloit Turner     500.00  10E   160000570
71933   2017-18  1414                    Depere   10913.00  10E   160000210
626548  2018-19  3850                 Riverdale    4800.00  10E   160000342
372774  2018-19  4263    Beecher-Dunbar-Pembine   98230.00  99E   160000000
27127   2017-18   434               Berlin Area   12500.00  10E   160000420
485531  2018-19  2625                Hustisford    7185.00  10E   160000200
598238  2018-19  4347                  Phillips    7635.00  21E   160000550
23024   2017-18   350                Belleville   27781.00  10E   160000410
624976  2018-19  4904               River Ridge    5565.00  10E   160000212
197870  2017-18  3892                    Neenah   23951.00  10E   160000212
362267  2018-19   182               Ashwaubenon   18525.00  10E   160000900
414795  2018-19  1246                 Cuba City    4104.70  10E   160000340
388124  2018-19   665                Bristol #1    5553.00  10E   160000200
213988  2017-18  3990    Norwalk-Ontario-Wilton     138.00  27E   160000212
67723   2017-18  1309       Deerfield Community  121618.48  10E   160000100
103697  2017-18  2135                    Gilman     850.00  10E   160000440
536719  2018-19  3434          Menominee Indian    8600.00  10E   160000210
665385  2018-19  3510                   Swallow     265.00  10E   160000210
498740  2018-19  5960             Kickapoo Area     900.00  10E   160000340
134710  2017-18  2737                      Juda     450.00  10E   160000340
338640  2017-18  6482              Williams Bay    4910.00  10E   160000900
215703  2017-18  4025                  Oakfield   10632.00  10E   160000210
612608  2018-19  4620                    Racine   22300.00  29E   160000210
165797  2017-18  3311                 Marinette   36850.00  10E   160000310
375592  2018-19   413                    Beloit      23.00  99E   160000350
188737  2017-18  3668                   Mondovi   42555.25  10E   160000400
454041  2018-19  2009  Gale-Ettrick-Trempealeau    8500.00  10E   160000420
222911  2017-18  4144                    Oregon     200.00  99E   160000200
303314  2017-18  5810               Turtle Lake   22000.00  10E   160000310
637187  2018-19  5264                   Shawano  483695.00  10E   160000000
128060  2017-18  2625                Hustisford   10800.00  10E   160000940
680308  2018-19  5985              Viroqua Area   13171.00  99E   160000400
256667  2017-18  4865             Rio Community    7905.00  10E   160000940
26536   2017-18   427                    Benton   21150.00  10E   160000310
611469  2018-19  4620                    Racine    3100.00  10E   160000500
716450  2018-19  6685          Wisconsin Rapids     290.00  21E   160000300
414063  2018-19  1232                   Crivitz   37935.00  10E   160000940
31419   2017-18   485              Blair-Taylor    1635.00  10E   160000430

In [129]:

#checking that they're all expenses
# budget_df['fund'].unique()

#dropping all years except 1718
budget_df = budget_df[budget_df['year'] == '2017-18']

budget_df['year'].unique()

array(['2017-18'], dtype=object)

In [130]:
#sum per district of all spending
budget_df = budget_df.drop(columns=['fund', 'dpifunction'])



budget_df.head(15)

        year  id    district    amount
129  2017-18   7  Abbotsford  227407.0
130  2017-18   7  Abbotsford  134610.0
131  2017-18   7  Abbotsford   14653.0
132  2017-18   7  Abbotsford    5543.0
133  2017-18   7  Abbotsford    5543.0
134  2017-18   7  Abbotsford    9057.0
135  2017-18   7  Abbotsford      53.0
136  2017-18   7  Abbotsford   29289.0
137  2017-18   7  Abbotsford   28839.0
138  2017-18   7  Abbotsford     450.0
139  2017-18   7  Abbotsford     450.0
140  2017-18   7  Abbotsford   31734.0
141  2017-18   7  Abbotsford    3718.0
142  2017-18   7  Abbotsford   14310.0
143  2017-18   7  Abbotsford    2400.0

In [131]:
budget_df = budget_df.groupby(['id'])['amount'].sum().reset_index()

budget_df.head(15)

     id      amount
0     7   553604.00
1    14   769356.00
2    63   317444.00
3    70   553504.00
4    84   222466.71
5    91   415767.00
6   105   324032.42
7   112   839942.00
8   119   911767.00
9   126   807427.00
10  140  1039412.00
11  147  5471875.81
12  154   808325.00
13  161   220628.00
14  170  1006836.00

In [132]:
budget_df.columns = ['id', 'activitysum']
budget_df.head()

   id  activitysum
0   7    553604.00
1  14    769356.00
2  63    317444.00
3  70    553504.00
4  84    222466.71

In [133]:
# budget_df.to_csv('Resources/budget_clean.csv')

In [134]:

# #create connection to Postgres, add df to sql database
# #create connection string through local serving (using db password variable)
# db_string = f"postgresql://postgres:Buffy1980@127.0.0.1:5432/HSPostSecAnalysis"
# #create database engine
# engine = create_engine(db_string)


# #save DataFrame to a SQL table (specify name of table and engine in to_sql method)
# masterlist_df.to_sql(name='master', con=engine, if_exists='replace')
# post_sec_df.to_sql(name='postsecenroll', con=engine, if_exists='replace')
# budget_df.to_sql(name='budgets', con=engine, if_exists='replace')
# cost_df.to_sql(name='costs', con=engine, if_exists='replace')
# revenue_df.to_sql(name='revenues', con=engine, if_exists='replace')
# reportcard_df.to_sql(name='reportcards', con=engine, if_exists='replace')

In [135]:
costs_revenues_df = cost_df.merge(revenue_df, how='left', on=['id', 'year'])
costs_revenues_df = costs_revenues_df.drop(columns=['district_y'])

In [136]:
costs_revenues_df = costs_revenues_df.drop(columns=['MEMBER'])

In [137]:
costs_revenues_df.head(20)

,id,district_x,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,revproptax,revfederal,revstate,revlocal,revtotal
0,7,Abbotsford,2019-20,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52,2083227.00,953036.11,7452256.84,278642.20,10767162.15
1,7,Abbotsford,2020-21,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51,2125709.00,1422104.28,7744882.90,516171.64,11808867.82
2,7,Abbotsford,2017-18,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62,2097033.00,917850.61,6524556.00,423985.80,9963425.41
3,7,Abbotsford,2018-19,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06,2113688.00,906123.08,7118411.49,312462.93,10450685.50
4,14,Adams-Friendship Area,2019-20,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82,11131295.00,2689740.62,8870177.62,834039.30,23525252.54
5,14,Adams-Friendship Area,2020-21,1403,11976390.80,2655612.40,1895886.72,2863801.83,964664.79,1277857.45,11927267.00,4185242.22,8143533.47,781510.43,25037553.12
6,14,Adams-Friendship Area,2017-18,1663,11315823.01,2110928.68,2115173.60,3129814.10,1130666.59,1219918.82,12318610.00,3055157.16,8243403.20,399321.58,24016491.94
7,14,Adams-Friendship Area,2018-19,1606,11697411.80,2168049.91,1978723.20,3029979.29,1092288.17,1216415.84,11491676.00,2827930.06,8572807.13,312183.51,23204596.70
8,63,Albany,2019-20,456,3967462.80,637903.47,537812.71,734957.61,205236.89,169144.79,3177694.00,346574.24,3407735.52,446756.32,7378760.08
9,63,Albany,2020-21,410,4036545.03,654396.92,523224.33,804264.88,234252.94,136182.86,3040949.00,453496.89,3568519.32,188382.29,7251347.50
10,63,Albany,2017-18,417,3509101.44,356681.75,607621.75,624028.78,236955.80,174214.48,3101509.00,241119.63,2852096.92,505339.70,6700065.25
11,63,Albany,2018-19,449,3859375.73,596690.64,548240.99,616718.39,242293.40,176392.32,3272394.00,289511.39,3048034.36,328287.31,6938227.06
12,70,Algoma,2019-20,753,4781520.79,898721.25,802739.75,1685124.12,230456.88,716421.44,3425587.00,786992.57,5711573.86,535291.62,10459445.05
13,70,Algoma,2020-21,696,4956397.67,724594.50,806362.25,1722076.68,222379.63,719352.65,3491394.00,809799.56,5797295.13,357689.74,10456178.43
14,70,Algoma,2017-18,733,4178318.45,711312.88,783952.79,1562039.60,287667.19,544778.37,3279547.00,544648.00,5006823.23,416420.22,9247438.45
15,70,Algoma,2018-19,750,4573925.75,837964.41,921026.55,1426256.96,252000.13,660564.44,3306914.00,595519.45,5345443.60,571090.59,9818967.64
16,84,Alma,2019-20,234,1819498.14,245575.34,421839.00,501027.43,370568.82,169950.31,2239440.00,226704.19,1256589.53,228973.16,3951706.88
17,84,Alma,2020-21,222,1898624.45,300178.05,441734.72,467461.02,192826.79,176462.82,2197667.00,345442.16,1713302.90,211664.55,4468076.61
18,84,Alma,2017-18,219,1731407.57,223417.02,454989.52,524144.38,242618.66,158534.06,2354785.51,209618.36,962698.19,168105.71,3695207.77
19,84,Alma,2018-19,223,1687675.82,244134.34,411002.76,578439.43,204943.85,163031.75,2411123.00,196617.12,1054167.59,174754.01,3836661.72

In [138]:
costs_revenues_budgets = budget_df.merge(costs_revenues_df, how='left', on=['id'])
costs_revenues_budgets.head(30)

,id,activitysum,district_x,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,revproptax,revfederal,revstate,revlocal,revtotal
0,7,553604.00,Abbotsford,2019-20,775.0,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52,2083227.00,953036.11,7452256.84,278642.20,10767162.15
1,7,553604.00,Abbotsford,2020-21,795.0,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51,2125709.00,1422104.28,7744882.90,516171.64,11808867.82
2,7,553604.00,Abbotsford,2017-18,771.0,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62,2097033.00,917850.61,6524556.00,423985.80,9963425.41
3,7,553604.00,Abbotsford,2018-19,767.0,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06,2113688.00,906123.08,7118411.49,312462.93,10450685.50
4,14,769356.00,Adams-Friendship Area,2019-20,1511.0,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82,11131295.00,2689740.62,8870177.62,834039.30,23525252.54
5,14,769356.00,Adams-Friendship Area,2020-21,1403.0,11976390.80,2655612.40,1895886.72,2863801.83,964664.79,1277857.45,11927267.00,4185242.22,8143533.47,781510.43,25037553.12
6,14,769356.00,Adams-Friendship Area,2017-18,1663.0,11315823.01,2110928.68,2115173.60,3129814.10,1130666.59,1219918.82,12318610.00,3055157.16,8243403.20,399321.58,24016491.94
7,14,769356.00,Adams-Friendship Area,2018-19,1606.0,11697411.80,2168049.91,1978723.20,3029979.29,1092288.17,1216415.84,11491676.00,2827930.06,8572807.13,312183.51,23204596.70
8,63,317444.00,Albany,2019-20,456.0,3967462.80,637903.47,537812.71,734957.61,205236.89,169144.79,3177694.00,346574.24,3407735.52,446756.32,7378760.08
9,63,317444.00,Albany,2020-21,410.0,4036545.03,654396.92,523224.33,804264.88,234252.94,136182.86,3040949.00,453496.89,3568519.32,188382.29,7251347.50
10,63,317444.00,Albany,2017-18,417.0,3509101.44,356681.75,607621.75,624028.78,236955.80,174214.48,3101509.00,241119.63,2852096.92,505339.70,6700065.25
11,63,317444.00,Albany,2018-19,449.0,3859375.73,596690.64,548240.99,616718.39,242293.40,176392.32,3272394.00,289511.39,3048034.36,328287.31,6938227.06
12,70,553504.00,Algoma,2019-20,753.0,4781520.79,898721.25,802739.75,1685124.12,230456.88,716421.44,3425587.00,786992.57,5711573.86,535291.62,10459445.05
13,70,553504.00,Algoma,2020-21,696.0,4956397.67,724594.50,806362.25,1722076.68,222379.63,719352.65,3491394.00,809799.56,5797295.13,357689.74,10456178.43
14,70,553504.00,Algoma,2017-18,733.0,4178318.45,711312.88,783952.79,1562039.60,287667.19,544778.37,3279547.00,544648.00,5006823.23,416420.22,9247438.45
15,70,553504.00,Algoma,2018-19,750.0,4573925.75,837964.41,921026.55,1426256.96,252000.13,660564.44,3306914.00,595519.45,5345443.60,571090.59,9818967.64
16,84,222466.71,Alma,2019-20,234.0,1819498.14,245575.34,421839.00,501027.43,370568.82,169950.31,2239440.00,226704.19,1256589.53,228973.16,3951706.88
17,84,222466.71,Alma,2020-21,222.0,1898624.45,300178.05,441734.72,467461.02,192826.79,176462.82,2197667.00,345442.16,1713302.90,211664.55,4468076.61
18,84,222466.71,Alma,2017-18,219.0,1731407.57,223417.02,454989.52,524144.38,242618.66,158534.06,2354785.51,209618.36,962698.19,168105.71,3695207.77
19,84,222466.71,Alma,2018-19,223.0,1687675.82,244134.34,411002.76,578439.43,204943.85,163031.75,2411123.00,196617.12,1054167.59,174754.01,3836661.72
20,91,415767.00,Alma Center,2019-20,549.0,4210811.50,501260.45,874722.07,1135391.23,394186.30,498521.51,3076270.00,762237.00,5445822.64,376483.52,9660813.16
21,91,415767.00,Alma Center,2020-21,533.0,4531126.89,448422.88,800960.61,1227637.49,267997.34,400919.89,2899142.00,1048147.24,4992180.87,499542.69,9439012.80
22,91,415767.00,Alma Center,2017-18,554.0,4157245.10,488147.34,778906.07,1213330.41,354808.80,364571.98,2426543.00,682972.48,5174270.69,463224.38,8747010.55
23,91,415767.00,Alma Center,2018-19,569.0,4242835.42,500302.24,784053.44,1160250.80,365731.75,400766.36,2511007.00,726634.87,5206864.11,405514.36,8850020.34
24,105,324032.42,Almond-Bancroft,2019-20,440.0,3474067.73,426721.79,561524.43,694636.73,363358.21,264715.19,1850189.00,514512.92,4094685.94,200630.96,6660018.82
25,105,324032.42,Almond-Bancroft,2020-21,438.0,3701741.38,436248.71,503816.46,787122.47,373966.98,234469.71,1940305.00,598020.06,4030096.15,47201.32,6615622.53
26,105,324032.42,Almond-Bancroft,2017-18,454.0,3379471.75,412091.46,535999.40,883700.57,419714.38,207233.46,1710585.00,500908.27,4009464.88,203538.13,6424496.28
27,105,324032.42,Almond-Bancroft,2018-19,452.0,3647329.70,496836.49,482656.49,805753.76,402405.98,215999.29,1744105.00,451728.66,4121632.23,117554.25,6435020.14
28,112,839942.00,Altoona,2019-20,1572.0,10792950.11,2283525.90,1830202.67,2772777.54,797481.56,807786.77,6677794.00,1073661.53,13461508.77,705218.05,21918182.35
29,112,839942.00,Altoona,2020-21,1581.0,11290980.50,2439957.97,1820544.68,3099387.65,872175.88,1127206.57,6741401.00,1905334.00,14188487.88,218221.77,23053444.65

In [139]:
costs_revenues_budgets.head(30)

,id,activitysum,district_x,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,revproptax,revfederal,revstate,revlocal,revtotal
0,7,553604.00,Abbotsford,2019-20,775.0,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52,2083227.00,953036.11,7452256.84,278642.20,10767162.15
1,7,553604.00,Abbotsford,2020-21,795.0,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51,2125709.00,1422104.28,7744882.90,516171.64,11808867.82
2,7,553604.00,Abbotsford,2017-18,771.0,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62,2097033.00,917850.61,6524556.00,423985.80,9963425.41
3,7,553604.00,Abbotsford,2018-19,767.0,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06,2113688.00,906123.08,7118411.49,312462.93,10450685.50
4,14,769356.00,Adams-Friendship Area,2019-20,1511.0,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82,11131295.00,2689740.62,8870177.62,834039.30,23525252.54
5,14,769356.00,Adams-Friendship Area,2020-21,1403.0,11976390.80,2655612.40,1895886.72,2863801.83,964664.79,1277857.45,11927267.00,4185242.22,8143533.47,781510.43,25037553.12
6,14,769356.00,Adams-Friendship Area,2017-18,1663.0,11315823.01,2110928.68,2115173.60,3129814.10,1130666.59,1219918.82,12318610.00,3055157.16,8243403.20,399321.58,24016491.94
7,14,769356.00,Adams-Friendship Area,2018-19,1606.0,11697411.80,2168049.91,1978723.20,3029979.29,1092288.17,1216415.84,11491676.00,2827930.06,8572807.13,312183.51,23204596.70
8,63,317444.00,Albany,2019-20,456.0,3967462.80,637903.47,537812.71,734957.61,205236.89,169144.79,3177694.00,346574.24,3407735.52,446756.32,7378760.08
9,63,317444.00,Albany,2020-21,410.0,4036545.03,654396.92,523224.33,804264.88,234252.94,136182.86,3040949.00,453496.89,3568519.32,188382.29,7251347.50
10,63,317444.00,Albany,2017-18,417.0,3509101.44,356681.75,607621.75,624028.78,236955.80,174214.48,3101509.00,241119.63,2852096.92,505339.70,6700065.25
11,63,317444.00,Albany,2018-19,449.0,3859375.73,596690.64,548240.99,616718.39,242293.40,176392.32,3272394.00,289511.39,3048034.36,328287.31,6938227.06
12,70,553504.00,Algoma,2019-20,753.0,4781520.79,898721.25,802739.75,1685124.12,230456.88,716421.44,3425587.00,786992.57,5711573.86,535291.62,10459445.05
13,70,553504.00,Algoma,2020-21,696.0,4956397.67,724594.50,806362.25,1722076.68,222379.63,719352.65,3491394.00,809799.56,5797295.13,357689.74,10456178.43
14,70,553504.00,Algoma,2017-18,733.0,4178318.45,711312.88,783952.79,1562039.60,287667.19,544778.37,3279547.00,544648.00,5006823.23,416420.22,9247438.45
15,70,553504.00,Algoma,2018-19,750.0,4573925.75,837964.41,921026.55,1426256.96,252000.13,660564.44,3306914.00,595519.45,5345443.60,571090.59,9818967.64
16,84,222466.71,Alma,2019-20,234.0,1819498.14,245575.34,421839.00,501027.43,370568.82,169950.31,2239440.00,226704.19,1256589.53,228973.16,3951706.88
17,84,222466.71,Alma,2020-21,222.0,1898624.45,300178.05,441734.72,467461.02,192826.79,176462.82,2197667.00,345442.16,1713302.90,211664.55,4468076.61
18,84,222466.71,Alma,2017-18,219.0,1731407.57,223417.02,454989.52,524144.38,242618.66,158534.06,2354785.51,209618.36,962698.19,168105.71,3695207.77
19,84,222466.71,Alma,2018-19,223.0,1687675.82,244134.34,411002.76,578439.43,204943.85,163031.75,2411123.00,196617.12,1054167.59,174754.01,3836661.72
20,91,415767.00,Alma Center,2019-20,549.0,4210811.50,501260.45,874722.07,1135391.23,394186.30,498521.51,3076270.00,762237.00,5445822.64,376483.52,9660813.16
21,91,415767.00,Alma Center,2020-21,533.0,4531126.89,448422.88,800960.61,1227637.49,267997.34,400919.89,2899142.00,1048147.24,4992180.87,499542.69,9439012.80
22,91,415767.00,Alma Center,2017-18,554.0,4157245.10,488147.34,778906.07,1213330.41,354808.80,364571.98,2426543.00,682972.48,5174270.69,463224.38,8747010.55
23,91,415767.00,Alma Center,2018-19,569.0,4242835.42,500302.24,784053.44,1160250.80,365731.75,400766.36,2511007.00,726634.87,5206864.11,405514.36,8850020.34
24,105,324032.42,Almond-Bancroft,2019-20,440.0,3474067.73,426721.79,561524.43,694636.73,363358.21,264715.19,1850189.00,514512.92,4094685.94,200630.96,6660018.82
25,105,324032.42,Almond-Bancroft,2020-21,438.0,3701741.38,436248.71,503816.46,787122.47,373966.98,234469.71,1940305.00,598020.06,4030096.15,47201.32,6615622.53
26,105,324032.42,Almond-Bancroft,2017-18,454.0,3379471.75,412091.46,535999.40,883700.57,419714.38,207233.46,1710585.00,500908.27,4009464.88,203538.13,6424496.28
27,105,324032.42,Almond-Bancroft,2018-19,452.0,3647329.70,496836.49,482656.49,805753.76,402405.98,215999.29,1744105.00,451728.66,4121632.23,117554.25,6435020.14
28,112,839942.00,Altoona,2019-20,1572.0,10792950.11,2283525.90,1830202.67,2772777.54,797481.56,807786.77,6677794.00,1073661.53,13461508.77,705218.05,21918182.35
29,112,839942.00,Altoona,2020-21,1581.0,11290980.50,2439957.97,1820544.68,3099387.65,872175.88,1127206.57,6741401.00,1905334.00,14188487.88,218221.77,23053444.65

In [140]:
costs_revenues_budgets.count()

id                 1672
activitysum        1672
district_x         1670
year               1670
Member             1670
Instruction        1670
costpupilstaff     1670
costadmin          1670
costoperation      1670
costtransport      1670
costfoodservice    1670
revproptax         1670
revfederal         1670
revstate           1670
revlocal           1670
revtotal           1670
dtype: int64

In [141]:
money_reportcard_df = costs_revenues_budgets.merge(reportcard_df, how='left', on=['id', 'year'])

money_reportcard_df.head()

,id,activitysum,district_x,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,...,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_ELA_Achievement_Score,District_Mathematics_Achievement_Score,District_Student_Growth_Score,District_ELA_Growth_Score,District_Mathematics_Growth_Score
0,7,553604.0,Abbotsford,2019-20,775.0,5537677.76,626845.61,953465.76,1178853.75,285017.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7,553604.0,Abbotsford,2020-21,795.0,5864021.77,561306.41,951675.18,1306162.74,284588.19,...,0.682,0.401,0.003,0.050,48.9,50.8,47.0,81.2,79.3,83.1
2,7,553604.0,Abbotsford,2017-18,771.0,4712764.25,558286.58,871757.43,2018703.90,334309.84,...,0.685,0.308,0.000,0.041,50.6,26.5,24.1,69.9,35.9,34.0
3,7,553604.0,Abbotsford,2018-19,767.0,4900421.54,532611.13,1006530.80,1788218.10,333778.82,...,0.730,0.337,0.000,0.041,51.2,27.2,24.0,63.2,31.1,32.1
4,14,769356.0,Adams-Friendship Area,2019-20,1511.0,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
money_reportcard_df = money_reportcard_df.drop(columns=['district_x'])

money_reportcard_df.sample(20)

,id,activitysum,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,...,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_ELA_Achievement_Score,District_Mathematics_Achievement_Score,District_Student_Growth_Score,District_ELA_Growth_Score,District_Mathematics_Growth_Score
1571,6300,2803598.00,2018-19,8501.0,59939448.57,11072504.51,7950280.30,20067608.15,2388271.94,7599359.16,...,0.566,0.034,0.009,0.048,55.2,29.1,26.1,66.0,34.9,31.1
1489,5985,647544.00,2017-18,1177.0,8396277.15,1213523.87,1235370.51,1834433.12,575572.26,693798.47,...,0.385,0.003,0.003,0.039,67.6,35.7,31.9,57.5,34.0,23.5
822,3318,441308.00,2020-21,478.0,3806345.21,930486.22,491504.71,1014822.33,280736.47,240427.50,...,0.535,0.002,0.002,0.066,54.8,54.2,55.3,62.2,58.4,66.0
412,1659,1339100.00,2019-20,1743.0,12056181.43,2054153.70,1988347.52,3214532.78,1620397.40,1249492.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,3696,278227.00,2020-21,356.0,3246585.73,657655.41,582383.41,651439.47,98583.23,206505.40,...,0.445,0.003,0.000,0.041,60.9,66.0,55.8,66.9,64.1,69.8
1002,3925,3004778.70,2020-21,4503.0,32774062.58,5443299.92,3956151.72,9575032.57,2585788.19,1954575.27,...,0.151,0.016,0.001,0.014,83.4,80.7,86.1,80.3,73.6,86.9
329,1309,524054.05,2020-21,740.0,5816349.93,981365.88,964609.64,1446845.36,250973.31,373175.62,...,0.281,0.011,0.000,0.026,63.4,69.9,56.8,70.8,77.4,64.1
1134,4368,478749.04,2020-21,542.0,4249971.83,705878.68,845482.21,1312876.34,469851.08,793228.77,...,0.362,0.011,0.007,0.061,60.0,63.7,56.2,61.3,54.6,67.9
1669,6748,81600.00,2020-21,343.0,2765424.71,333506.97,623552.83,661619.39,266474.17,80638.87,...,0.102,0.000,0.000,0.025,76.8,75.8,77.8,80.3,85.0,75.5
313,1246,1338345.41,2020-21,611.0,5538627.04,909815.33,943892.09,1400569.12,376866.28,547939.55,...,0.362,0.014,0.000,0.020,69.2,68.1,70.2,60.3,45.1,75.5
1515,6104,44704.00,2018-19,157.0,1281994.21,256799.15,308512.64,327702.05,111911.61,45662.54,...,0.156,0.000,0.000,0.017,80.9,39.1,41.8,76.5,36.8,39.7
1445,5754,667087.00,2017-18,1225.0,8364430.53,2562641.13,1330697.84,2089917.65,948898.88,767950.00,...,0.316,0.002,0.000,0.028,65.3,33.7,31.6,78.4,39.7,38.7
1630,6482,268074.24,2017-18,582.0,4647409.99,503505.59,1012075.58,1170062.63,159292.56,225536.79,...,0.248,0.007,0.000,0.018,68.5,36.1,32.4,71.8,39.7,32.1
139,469,1057843.78,2018-19,785.0,6035338.68,1224007.40,1117412.88,1516663.13,658755.97,330650.32,...,0.233,0.006,0.000,0.021,73.1,37.2,35.9,75.6,43.5,32.1
649,2618,379649.00,2019-20,546.0,4183183.26,437084.25,785483.50,1207967.04,401737.93,361144.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,882,443315.00,2018-19,392.0,3769252.68,513660.71,579578.45,681250.70,311770.38,465360.03,...,0.507,0.062,0.000,0.094,51.1,27.6,23.5,63.2,32.1,31.1
1308,5138,1209518.00,2020-21,2109.0,16904196.28,4497477.98,1644781.77,3173872.22,1456670.40,1239344.92,...,0.387,0.012,0.001,0.033,54.5,53.9,55.0,56.5,45.1,67.9
190,700,517123.00,2017-18,1044.0,7387185.22,926434.07,1348230.54,1940208.38,443794.24,570350.27,...,0.402,0.029,0.000,0.024,59.6,30.0,29.6,72.7,37.8,34.9
1023,3962,1873504.00,2017-18,3461.0,22324883.33,2624746.87,2654739.54,6288211.00,1755117.61,2285601.05,...,0.224,0.006,0.001,0.025,81.3,38.9,42.4,78.4,34.9,43.5
910,3612,2781120.00,2020-21,3517.0,28732134.69,3358928.21,3701798.74,4902507.96,1827886.34,1294614.57,...,0.238,0.018,0.000,0.027,68.0,68.4,67.6,61.3,58.4,64.1

In [143]:
post_sec_df = post_sec_df.rename(columns={'YEAR': 'year'})
post_sec_df = post_sec_df.rename(columns={'ID': 'id'})

In [144]:
# money_reportcard_df['fund'].unique()

In [145]:
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '39B']
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '39E']
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '39R']
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '46B']

# money_reportcard_df.sample(30)

In [146]:
# money_reportcard_df.count()

In [147]:
money_reportcard_df.isnull().sum()

id                                                     0
activitysum                                            0
year                                                   2
Member                                                 2
Instruction                                            2
costpupilstaff                                         2
costadmin                                              2
costoperation                                          2
costtransport                                          2
costfoodservice                                        2
revproptax                                             2
revfederal                                             2
revstate                                               2
revlocal                                               2
revtotal                                               2
Cooperative_Educational_Service_Agency               419
DISTRICT                                             419
Overall_Accountability_Score                         419
Overall_Accountability_Rating                        419
Lowest_Grade_in_the_District                         419
Highest_Grade_in_the_District                        419
District_Enrollment                                  419
Percent_American_Indian_or_Alaskan_Native            419
Percent_Asian                                        419
Percent_Black_or_African_American                    419
Percent_Hispanic_Latino                              419
Percent_Native_Hawaiian_or_Other_Pacific_Islander    419
Percent_White                                        419
Percent_Two_or_More_Races                            419
Percent_Students_with_Disabilities                   419
Percent_Economically_Disadvantaged                   419
Percent_Limited_English_Proficient                   419
Percent_Within_District_Mobility                     419
Percent_Between_District_Mobility                    419
District_Student_Achievement_Score                   419
District_ELA_Achievement_Score                       419
District_Mathematics_Achievement_Score               419
District_Student_Growth_Score                        429
District_ELA_Growth_Score                            429
District_Mathematics_Growth_Score                    429
dtype: int64

In [148]:
money_reportcard_df = money_reportcard_df.dropna(subset =['Overall_Accountability_Score'])
money_reportcard_df.isnull().sum()

id                                                    0
activitysum                                           0
year                                                  0
Member                                                0
Instruction                                           0
costpupilstaff                                        0
costadmin                                             0
costoperation                                         0
costtransport                                         0
costfoodservice                                       0
revproptax                                            0
revfederal                                            0
revstate                                              0
revlocal                                              0
revtotal                                              0
Cooperative_Educational_Service_Agency                0
DISTRICT                                              0
Overall_Accountability_Score                          0
Overall_Accountability_Rating                         0
Lowest_Grade_in_the_District                          0
Highest_Grade_in_the_District                         0
District_Enrollment                                   0
Percent_American_Indian_or_Alaskan_Native             0
Percent_Asian                                         0
Percent_Black_or_African_American                     0
Percent_Hispanic_Latino                               0
Percent_Native_Hawaiian_or_Other_Pacific_Islander     0
Percent_White                                         0
Percent_Two_or_More_Races                             0
Percent_Students_with_Disabilities                    0
Percent_Economically_Disadvantaged                    0
Percent_Limited_English_Proficient                    0
Percent_Within_District_Mobility                      0
Percent_Between_District_Mobility                     0
District_Student_Achievement_Score                    0
District_ELA_Achievement_Score                        0
District_Mathematics_Achievement_Score                0
District_Student_Growth_Score                        10
District_ELA_Growth_Score                            10
District_Mathematics_Growth_Score                    10
dtype: int64

In [149]:
money_reportcard_df = money_reportcard_df.dropna(subset =['Member'])
money_reportcard_df.isnull().sum()

id                                                    0
activitysum                                           0
year                                                  0
Member                                                0
Instruction                                           0
costpupilstaff                                        0
costadmin                                             0
costoperation                                         0
costtransport                                         0
costfoodservice                                       0
revproptax                                            0
revfederal                                            0
revstate                                              0
revlocal                                              0
revtotal                                              0
Cooperative_Educational_Service_Agency                0
DISTRICT                                              0
Overall_Accountability_Score                          0
Overall_Accountability_Rating                         0
Lowest_Grade_in_the_District                          0
Highest_Grade_in_the_District                         0
District_Enrollment                                   0
Percent_American_Indian_or_Alaskan_Native             0
Percent_Asian                                         0
Percent_Black_or_African_American                     0
Percent_Hispanic_Latino                               0
Percent_Native_Hawaiian_or_Other_Pacific_Islander     0
Percent_White                                         0
Percent_Two_or_More_Races                             0
Percent_Students_with_Disabilities                    0
Percent_Economically_Disadvantaged                    0
Percent_Limited_English_Proficient                    0
Percent_Within_District_Mobility                      0
Percent_Between_District_Mobility                     0
District_Student_Achievement_Score                    0
District_ELA_Achievement_Score                        0
District_Mathematics_Achievement_Score                0
District_Student_Growth_Score                        10
District_ELA_Growth_Score                            10
District_Mathematics_Growth_Score                    10
dtype: int64

In [150]:
money_reportcard_df.count()

id                                                   1253
activitysum                                          1253
year                                                 1253
Member                                               1253
Instruction                                          1253
costpupilstaff                                       1253
costadmin                                            1253
costoperation                                        1253
costtransport                                        1253
costfoodservice                                      1253
revproptax                                           1253
revfederal                                           1253
revstate                                             1253
revlocal                                             1253
revtotal                                             1253
Cooperative_Educational_Service_Agency               1253
DISTRICT                                             1253
Overall_Accountability_Score                         1253
Overall_Accountability_Rating                        1253
Lowest_Grade_in_the_District                         1253
Highest_Grade_in_the_District                        1253
District_Enrollment                                  1253
Percent_American_Indian_or_Alaskan_Native            1253
Percent_Asian                                        1253
Percent_Black_or_African_American                    1253
Percent_Hispanic_Latino                              1253
Percent_Native_Hawaiian_or_Other_Pacific_Islander    1253
Percent_White                                        1253
Percent_Two_or_More_Races                            1253
Percent_Students_with_Disabilities                   1253
Percent_Economically_Disadvantaged                   1253
Percent_Limited_English_Proficient                   1253
Percent_Within_District_Mobility                     1253
Percent_Between_District_Mobility                    1253
District_Student_Achievement_Score                   1253
District_ELA_Achievement_Score                       1253
District_Mathematics_Achievement_Score               1253
District_Student_Growth_Score                        1243
District_ELA_Growth_Score                            1243
District_Mathematics_Growth_Score                    1243
dtype: int64

In [151]:
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '72B']
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '72R']
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '73B']
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '73R']
# money_reportcard_df = money_reportcard_df[money_reportcard_df['fund'] != '72E']

# money_reportcard_df.count()

In [152]:
money_reportcard_df = money_reportcard_df.drop(columns=['DISTRICT', 'Lowest_Grade_in_the_District', 'Highest_Grade_in_the_District', 'District_Enrollment', 
                                                        'Overall_Accountability_Rating', 'District_ELA_Achievement_Score', 'District_Mathematics_Achievement_Score',
                                                        'District_ELA_Growth_Score', 'District_Mathematics_Growth_Score'])

money_reportcard_df.count()

id                                                   1253
activitysum                                          1253
year                                                 1253
Member                                               1253
Instruction                                          1253
costpupilstaff                                       1253
costadmin                                            1253
costoperation                                        1253
costtransport                                        1253
costfoodservice                                      1253
revproptax                                           1253
revfederal                                           1253
revstate                                             1253
revlocal                                             1253
revtotal                                             1253
Cooperative_Educational_Service_Agency               1253
Overall_Accountability_Score                         1253
Percent_American_Indian_or_Alaskan_Native            1253
Percent_Asian                                        1253
Percent_Black_or_African_American                    1253
Percent_Hispanic_Latino                              1253
Percent_Native_Hawaiian_or_Other_Pacific_Islander    1253
Percent_White                                        1253
Percent_Two_or_More_Races                            1253
Percent_Students_with_Disabilities                   1253
Percent_Economically_Disadvantaged                   1253
Percent_Limited_English_Proficient                   1253
Percent_Within_District_Mobility                     1253
Percent_Between_District_Mobility                    1253
District_Student_Achievement_Score                   1253
District_Student_Growth_Score                        1243
dtype: int64

In [153]:
moneyrptcrd1718_df = money_reportcard_df[money_reportcard_df['year'] == '2017-18']

moneyrptcrd1718_df.count()

id                                                   419
activitysum                                          419
year                                                 419
Member                                               419
Instruction                                          419
costpupilstaff                                       419
costadmin                                            419
costoperation                                        419
costtransport                                        419
costfoodservice                                      419
revproptax                                           419
revfederal                                           419
revstate                                             419
revlocal                                             419
revtotal                                             419
Cooperative_Educational_Service_Agency               419
Overall_Accountability_Score                         419
Percent_American_Indian_or_Alaskan_Native            419
Percent_Asian                                        419
Percent_Black_or_African_American                    419
Percent_Hispanic_Latino                              419
Percent_Native_Hawaiian_or_Other_Pacific_Islander    419
Percent_White                                        419
Percent_Two_or_More_Races                            419
Percent_Students_with_Disabilities                   419
Percent_Economically_Disadvantaged                   419
Percent_Limited_English_Proficient                   419
Percent_Within_District_Mobility                     419
Percent_Between_District_Mobility                    419
District_Student_Achievement_Score                   419
District_Student_Growth_Score                        409
dtype: int64

In [154]:
# moneyrptcrd1819_df = money_reportcard_df[money_reportcard_df['year'] == '2018-19']

# moneyrptcrd1819_df.count()

In [155]:
post_sec_df = post_sec_df.drop(columns=['GRADE_GROUP', 'CHARTER_IND', 'CESA', 'DISTRICT'])
post_sec_df.count()

year                    115830
AGENCY_TYPE             115830
COUNTY                  115830
id                      115830
SCHOOL_CODE             115830
SCHOOL_NAME             115830
INITIAL_ENROLLMENT      115830
INSTITUTION_LOCATION    115830
INSTITUTION_LEVEL       115830
INSTITUTION_TYPE        115830
GROUP_BY                115830
GROUP_BY_VALUE          115830
GROUP_COUNT             115830
STUDENT_COUNT           115830
dtype: int64

In [156]:
# postsec1819_df = post_sec_df[post_sec_df['year'] == '2018-19']

# postsec1819_df.count()

In [157]:
postsec1718_df = post_sec_df[post_sec_df['year'] == '2017-18']

postsec1718_df.count()

year                    45901
AGENCY_TYPE             45901
COUNTY                  45901
id                      45901
SCHOOL_CODE             45901
SCHOOL_NAME             45901
INITIAL_ENROLLMENT      45901
INSTITUTION_LOCATION    45901
INSTITUTION_LEVEL       45901
INSTITUTION_TYPE        45901
GROUP_BY                45901
GROUP_BY_VALUE          45901
GROUP_COUNT             45901
STUDENT_COUNT           45901
dtype: int64

In [158]:
# full1718dataset_df = moneyrptcrd1718_df.merge(postsec1718_df, how='left', on=['id'])

In [159]:
#create field for revenue per student



moneyrptcrd1718_df['revperstudent'] = moneyrptcrd1718_df['revtotal'] / moneyrptcrd1718_df['Member']


moneyrptcrd1718_df.head()

C:\Users\ramak\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,id,activitysum,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,...,Percent_White,Percent_Two_or_More_Races,Percent_Students_with_Disabilities,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_Student_Growth_Score,revperstudent
2,7,553604.00,2017-18,771.0,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62,...,0.493,0.008,0.130,0.685,0.308,0.000,0.041,50.6,69.9,12922.730752
6,14,769356.00,2017-18,1663.0,11315823.01,2110928.68,2115173.60,3129814.10,1130666.59,1219918.82,...,0.883,0.012,0.214,0.623,0.010,0.001,0.081,45.1,44.2,14441.666831
10,63,317444.00,2017-18,417.0,3509101.44,356681.75,607621.75,624028.78,236955.80,174214.48,...,0.922,0.024,0.145,0.373,0.015,0.000,0.030,55.3,54.6,16067.302758
14,70,553504.00,2017-18,733.0,4178318.45,711312.88,783952.79,1562039.60,287667.19,544778.37,...,0.894,0.020,0.159,0.413,0.027,0.000,0.045,65.8,67.9,12615.877831
18,84,222466.71,2017-18,219.0,1731407.57,223417.02,454989.52,524144.38,242618.66,158534.06,...,0.921,0.017,0.178,0.314,0.000,0.000,0.033,64.4,60.3,16873.094840

In [160]:
for col in moneyrptcrd1718_df.columns:
    print(col)

id
activitysum
year
Member
Instruction
costpupilstaff
costadmin
costoperation
costtransport
costfoodservice
revproptax
revfederal
revstate
revlocal
revtotal
Cooperative_Educational_Service_Agency
Overall_Accountability_Score
Percent_American_Indian_or_Alaskan_Native
Percent_Asian
Percent_Black_or_African_American
Percent_Hispanic_Latino
Percent_Native_Hawaiian_or_Other_Pacific_Islander
Percent_White
Percent_Two_or_More_Races
Percent_Students_with_Disabilities
Percent_Economically_Disadvantaged
Percent_Limited_English_Proficient
Percent_Within_District_Mobility
Percent_Between_District_Mobility
District_Student_Achievement_Score
District_Student_Growth_Score
revperstudent

In [161]:
moneyrptcrd1718_df.columns = ['id', 'activitysum', 'year', 'member', 'costinstruction', 'costpupilstaff', 'costadmin', 'costoperation', 'costtransport', 'costfoodservice', 'revproptax', 'revfederal', 'revstate', 'revlocal', 'revtotal', 'cesa', 'overallaccountscore', 'pctamerindalnat', 'pctasian', 'pctblack', 'pcthisplat', 'pctnathawopi', 'pctwhite', 'pcttwoormorerace', 'pctswd', 'pctecondisad', 'pctlep', 'pctwithindistrictmob', 'pctbtwndistrictmob', 'diststudachievescore', 'diststudentgrowthscore', 'revperstudent']

moneyrptcrd1718_df.head()

,id,activitysum,year,member,costinstruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,...,pctwhite,pcttwoormorerace,pctswd,pctecondisad,pctlep,pctwithindistrictmob,pctbtwndistrictmob,diststudachievescore,diststudentgrowthscore,revperstudent
2,7,553604.00,2017-18,771.0,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62,...,0.493,0.008,0.130,0.685,0.308,0.000,0.041,50.6,69.9,12922.730752
6,14,769356.00,2017-18,1663.0,11315823.01,2110928.68,2115173.60,3129814.10,1130666.59,1219918.82,...,0.883,0.012,0.214,0.623,0.010,0.001,0.081,45.1,44.2,14441.666831
10,63,317444.00,2017-18,417.0,3509101.44,356681.75,607621.75,624028.78,236955.80,174214.48,...,0.922,0.024,0.145,0.373,0.015,0.000,0.030,55.3,54.6,16067.302758
14,70,553504.00,2017-18,733.0,4178318.45,711312.88,783952.79,1562039.60,287667.19,544778.37,...,0.894,0.020,0.159,0.413,0.027,0.000,0.045,65.8,67.9,12615.877831
18,84,222466.71,2017-18,219.0,1731407.57,223417.02,454989.52,524144.38,242618.66,158534.06,...,0.921,0.017,0.178,0.314,0.000,0.000,0.033,64.4,60.3,16873.094840

In [162]:
for col in postsec1718_df.columns:
    print(col)

year
AGENCY_TYPE
COUNTY
id
SCHOOL_CODE
SCHOOL_NAME
INITIAL_ENROLLMENT
INSTITUTION_LOCATION
INSTITUTION_LEVEL
INSTITUTION_TYPE
GROUP_BY
GROUP_BY_VALUE
GROUP_COUNT
STUDENT_COUNT

In [163]:
postsec1718_df.columns = ['year', 'agencytype', 'county', 'id', 'schoolcode', 'schoolname', 'initenroll', 'instloc', 'instlevel', 'insttype', 'largegroupby', 'groupbyvalue', 'groupcount', 'studentcount']

postsec1718_df.head()

,year,agencytype,county,id,schoolcode,schoolname,initenroll,instloc,instlevel,insttype,largegroupby,groupbyvalue,groupcount,studentcount
64794,2017-18,Public school,Clark,7,40,Abbotsford Middle/Senior High,First Fall,In-State,2-Year,Public,All Students,All Students,31,12
64795,2017-18,Public school,Clark,7,40,Abbotsford Middle/Senior High,First Fall,In-State,4-Year,Multiple,All Students,All Students,31,1
64796,2017-18,Public school,Clark,7,40,Abbotsford Middle/Senior High,First Fall,In-State,4-Year,Private,All Students,All Students,31,1
64797,2017-18,Public school,Clark,7,40,Abbotsford Middle/Senior High,First Fall,In-State,4-Year,Public,All Students,All Students,31,6
64798,2017-18,Public school,Clark,7,40,Abbotsford Middle/Senior High,First Fall,In-State,Multiple,Multiple,All Students,All Students,31,1

In [164]:
#create connection to Postgres, add df to sql database
#create connection string through local serving (using db password variable)
db_string = f"postgresql://postgres:Buffy1980@127.0.0.1:5432/HSPostSecAnalysis"
#create database engine
engine = create_engine(db_string)


# #save DataFrame to a SQL table (specify name of table and engine in to_sql method)
postsec1718_df.to_sql(name='postsec1718', con=engine, if_exists='replace')
# postsec1819_df.to_sql(name='postsec1819', con=engine, if_exists='replace')
moneyrptcrd1718_df.to_sql(name='moneyrptcrd1718', con=engine, if_exists='replace')
# moneyrptcrd1819_df.to_sql(name='moneyrptcrd1819', con=engine, if_exists='replace')

OperationalError: (psycopg2.OperationalError) connection to server at "127.0.0.1", port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/14/e3q8)