In [ ]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [ ]:
# 1 Add the function that takes in  arguments for each combined data file;


# Read in the files as Pandas DataFrames.

postsecdata_to_load = "Resources/postsecondary_enrollment_combined_1718_1819_1920.csv"
budgetrollup_to_load = "Resources/combined_rollup_budget_data_1718_1819.csv"
costdata_to_load = "Resources/comp_cost_combined_1718_1819_1920_2021.csv"
revenuedata_to_load = "Resources/comp_rev_combined_1718_1819_1920_2021.csv"
reportcarddata_to_load = "Resources/district_reportcard_combined_1718_1819_2021.csv"
masterlist_to_load = "Resources/Master_Schools_list.csv"

post_sec_df = pd.read_csv(postsecdata_to_load)
budget_df = pd.read_csv(budgetrollup_to_load)
cost_df = pd.read_csv(costdata_to_load)
revenue_df = pd.read_csv(revenuedata_to_load)
reportcard_df = pd.read_csv(reportcarddata_to_load)
masterlist_df = pd.read_csv(masterlist_to_load)

In [ ]:
masterlist_df.dtypes

In [ ]:
revenue_df.dtypes

In [ ]:
revenue_df.head()

In [ ]:
revenue_df.count()

In [ ]:
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace(',', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].str.replace('$', '')
revenue_df[' TOTAL '] = revenue_df[' TOTAL '].astype(float)

revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace(',', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].str.replace('$', '')
revenue_df[' PROPTAX '] = revenue_df[' PROPTAX '].astype(float)

revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace(',', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].str.replace('$', '')
revenue_df[' FEDERAL '] = revenue_df[' FEDERAL '].astype(float)

revenue_df[' STATE '] = revenue_df[' STATE '].str.replace(',', '')
revenue_df[' STATE '] = revenue_df[' STATE '].str.replace('$', '')
revenue_df[' STATE '] = revenue_df[' STATE '].astype(float)

revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace(',', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].str.replace('$', '')
revenue_df[' LOCAL '] = revenue_df[' LOCAL '].astype(float)

In [ ]:
revenue_df = revenue_df.rename(columns={'FISCAL_YEAR': 'year'})
revenue_df = revenue_df.rename(columns={' STATE ': 'revstate'})
revenue_df = revenue_df.rename(columns={' FEDERAL ': 'revfederal'})
revenue_df = revenue_df.rename(columns={' PROPTAX ': 'revproptax'})
revenue_df = revenue_df.rename(columns={' TOTAL ': 'revtotal'})
revenue_df = revenue_df.rename(columns={' LOCAL ': 'revlocal'})
revenue_df = revenue_df.rename(columns={'DISTRICT NAME': 'district'})
revenue_df = revenue_df.rename(columns={'DISTRICT_ID': 'id'})


revenue_df.head()

,year,id,district,revproptax,revfederal,revstate,revlocal,revtotal,MEMBER
0,2019-20,7,Abbotsford,2083227.0,953036.11,7452256.84,278642.20,10767162.15,775
1,2019-20,14,Adams-Friendship Area,11131295.0,2689740.62,8870177.62,834039.30,23525252.54,1511
2,2019-20,63,Albany,3177694.0,346574.24,3407735.52,446756.32,7378760.08,456
3,2019-20,70,Algoma,3425587.0,786992.57,5711573.86,535291.62,10459445.05,753
4,2019-20,84,Alma,2239440.0,226704.19,1256589.53,228973.16,3951706.88,234

In [ ]:
revenue_df.head()

,year,id,district,revproptax,revfederal,revstate,revlocal,revtotal,MEMBER
0,2019-20,7,Abbotsford,2083227.0,953036.11,7452256.84,278642.20,10767162.15,775
1,2019-20,14,Adams-Friendship Area,11131295.0,2689740.62,8870177.62,834039.30,23525252.54,1511
2,2019-20,63,Albany,3177694.0,346574.24,3407735.52,446756.32,7378760.08,456
3,2019-20,70,Algoma,3425587.0,786992.57,5711573.86,535291.62,10459445.05,753
4,2019-20,84,Alma,2239440.0,226704.19,1256589.53,228973.16,3951706.88,234

In [10]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [11]:
cost_df.dtypes

DISTRICT_ID                 int64
DISTRICT_NAME              object
FISCAL_YEAR                 int64
Member                      int64
Instruction                object
Pupil_Staff_Support        object
Admin                      object
Operation_Other            object
Transportation_cost        object
Facility_cost              object
Food_comm_service_cost     object
dtype: object

In [12]:
cost_df.count()

DISTRICT_ID                1683
DISTRICT_NAME              1683
FISCAL_YEAR                1683
Member                     1683
Instruction                1683
Pupil_Staff_Support        1683
Admin                      1683
Operation_Other            1683
Transportation_cost        1683
Facility_cost              1683
Food_comm_service_cost     1683
dtype: int64

In [13]:
#dropping Holy Hill Area from data because no cost data in 2018 
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2570]
#dropping Norris (missing data and correctional facility outlier)
cost_df = cost_df[cost_df['DISTRICT_ID'] != 3976]

#dropping two more with - values in food service column
cost_df = cost_df[cost_df['DISTRICT_ID'] != 2051]
cost_df = cost_df[cost_df['DISTRICT_ID'] != 6069]
cost_df.count()

DISTRICT_ID                1670
DISTRICT_NAME              1670
FISCAL_YEAR                1670
Member                     1670
Instruction                1670
Pupil_Staff_Support        1670
Admin                      1670
Operation_Other            1670
Transportation_cost        1670
Facility_cost              1670
Food_comm_service_cost     1670
dtype: int64

In [14]:
cost_df.head()

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,"$5,537,677.76","$626,845.61","$953,465.76","$1,178,853.75","$285,017.43","$690,000.00","$624,371.52"
1,7,Abbotsford,2021,795,"$5,864,021.77","$561,306.41","$951,675.18","$1,306,162.74","$284,588.19","$713,053.29","$674,102.51"
2,7,Abbotsford,2018,771,"$4,712,764.25","$558,286.58","$871,757.43","$2,018,703.90","$334,309.84","$683,000.00","$552,630.62"
3,7,Abbotsford,2019,767,"$4,900,421.54","$532,611.13","$1,006,530.80","$1,788,218.10","$333,778.82","$1,274,752.00","$603,227.06"
4,14,Adams-Friendship Area,2020,1511,"$12,260,874.21","$2,285,988.23","$2,069,684.15","$2,667,794.18","$788,916.08","$118,519.60","$1,287,245.82"

In [15]:
cost_df['Instruction '] = cost_df['Instruction '].str.replace(',', '')
cost_df['Instruction '] = cost_df['Instruction '].str.replace('$', '')
cost_df['Instruction '] = cost_df['Instruction '].astype(float)

cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace(',', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].str.replace('$', '')
cost_df['Pupil_Staff_Support '] = cost_df['Pupil_Staff_Support '].astype(float)

cost_df['Admin '] = cost_df['Admin '].str.replace(',', '')
cost_df['Admin '] = cost_df['Admin '].str.replace('$', '')
cost_df['Admin '] = cost_df['Admin '].astype(float)

cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace(',', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].str.replace('$', '')
cost_df['Operation_Other '] = cost_df['Operation_Other '].astype(float)

cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace(',', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].str.replace('$', '')
cost_df['Transportation_cost '] = cost_df['Transportation_cost '].astype(float)

#not going to use facility cost because too many - values and not useful to us
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(',', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('(', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace(')', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].str.replace('$', '')
# cost_df['Facility_cost '] = cost_df['Facility_cost '].astype(float)

cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace(',', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].str.replace('$', '')
cost_df['Food_comm_service_cost '] = cost_df['Food_comm_service_cost '].astype(float)

cost_df.head()

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,DISTRICT_ID,DISTRICT_NAME,FISCAL_YEAR,Member,Instruction,Pupil_Staff_Support,Admin,Operation_Other,Transportation_cost,Facility_cost,Food_comm_service_cost
0,7,Abbotsford,2020,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,"$690,000.00",624371.52
1,7,Abbotsford,2021,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,"$713,053.29",674102.51
2,7,Abbotsford,2018,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,"$683,000.00",552630.62
3,7,Abbotsford,2019,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,"$1,274,752.00",603227.06
4,14,Adams-Friendship Area,2020,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,"$118,519.60",1287245.82

In [16]:
#dropping facility cost column
cost_df = cost_df.drop(['Facility_cost '], axis=1)

# cost_df.head()

In [17]:
#replace fiscal year value with school year and rename column
cost_df.loc[cost_df['FISCAL_YEAR'] == 2020, 'FISCAL_YEAR'] = '2019-20'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2018, 'FISCAL_YEAR'] = '2017-18'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2019, 'FISCAL_YEAR'] = '2018-19'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2021, 'FISCAL_YEAR'] = '2020-21'

cost_df = cost_df.rename(columns={'FISCAL_YEAR': 'year'})
cost_df = cost_df.rename(columns={'DISTRICT_ID': 'id'})
cost_df = cost_df.rename(columns={'DISTRICT_NAME': 'district'})
cost_df = cost_df.rename(columns={'Instruction': 'costinstruction'})
cost_df = cost_df.rename(columns={'Pupil_Staff_Support ': 'costpupilstaff'})
cost_df = cost_df.rename(columns={'Admin ': 'costadmin'})
cost_df = cost_df.rename(columns={'Operation_Other ': 'costoperation'})
cost_df = cost_df.rename(columns={'Transportation_cost ': 'costtransport'})
cost_df = cost_df.rename(columns={'Food_comm_service_cost ': 'costfoodservice'})

# cost_df.head()

,id,district,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice
0,7,Abbotsford,2019-20,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52
1,7,Abbotsford,2020-21,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51
2,7,Abbotsford,2017-18,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62
3,7,Abbotsford,2018-19,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06
4,14,Adams-Friendship Area,2019-20,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82

In [ ]:
#replace fiscal year value with school year and rename column
cost_df.loc[cost_df['FISCAL_YEAR'] == 2020, 'FISCAL_YEAR'] = '2019-20'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2018, 'FISCAL_YEAR'] = '2017-18'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2019, 'FISCAL_YEAR'] = '2018-19'
cost_df.loc[cost_df['FISCAL_YEAR'] == 2021, 'FISCAL_YEAR'] = '2020-21'

cost_df = cost_df.rename(columns={'FISCAL_YEAR': 'YEAR'})
cost_df = cost_df.rename(columns={'DISTRICT_ID': 'ID'})
cost_df = cost_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

cost_df.head()

In [18]:
reportcard_df.count()

School_Year                                          1264
District_ID                                          1264
School_Code                                           885
Cooperative_Educational_Service_Agency               1264
District_Name                                        1264
Overall_Accountability_Score                         1261
Overall_Accountability_Rating                        1261
Lowest_Grade_in_the_District                         1264
Highest_Grade_in_the_District                        1264
School_Type                                           133
District_Enrollment                                  1264
Percent_American_Indian_or_Alaskan_Native            1264
Percent_Asian                                        1264
Percent_Black_or_African_American                    1264
Percent_Hispanic_Latino                              1264
Percent_Native_Hawaiian_or_Other_Pacific_Islander    1264
Percent_White                                        1264
Percent_Two_or_More_Races                            1264
Percent_Students_with_Disabilities                   1264
Percent_Economically_Disadvantaged                   1264
Percent_Limited_English_Proficient                   1264
Percent_Within_District_Mobility                     1264
Percent_Between_District_Mobility                    1264
District_Student_Achievement_Score                   1260
District_ELA_Achievement_Score                       1260
District_Mathematics_Achievement_Score               1260
District_Student_Growth_Score                        1250
District_ELA_Growth_Score                            1250
District_Mathematics_Growth_Score                    1250
dtype: int64

In [ ]:
#check for missing values
reportcard_df

In [ ]:
#checking the data types
reportcard_df.dtypes

In [ ]:
for col in reportcard_df.columns:
    print(col)

In [ ]:
# checking the null values but not removing due to data loss
reportcard_df.isnull().sum()

In [ ]:
# removing columns 'School_Code','School_Type'
reportcard_df = reportcard_df.drop(columns=['School_Code','School_Type'])
#changing data type to string
reportcard_df['Cooperative_Educational_Service_Agency'] = reportcard_df['Cooperative_Educational_Service_Agency'].astype("string")
#changing data type to string
reportcard_df['Lowest_Grade_in_the_District'] = reportcard_df['Lowest_Grade_in_the_District'].astype("string")
#changing data type to string
reportcard_df['Highest_Grade_in_the_District'] = reportcard_df['Highest_Grade_in_the_District'].astype("string")
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df= reportcard_df.dropna(subset =['Overall_Accountability_Score'])
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df = reportcard_df[reportcard_df['Overall_Accountability_Score']!='AR']
#changing data type to float
reportcard_df['Overall_Accountability_Score'] =reportcard_df['Overall_Accountability_Score'].astype(float)
#changing data type to float
reportcard_df['Percent_Students_with_Disabilities'] =reportcard_df['Percent_Students_with_Disabilities'].astype(float)
#changing data type to float
reportcard_df['Percent_Limited_English_Proficient'] =reportcard_df['Percent_Limited_English_Proficient'].astype(float)
#changing data type to float
reportcard_df['Percent_Economically_Disadvantaged'] =reportcard_df['Percent_Economically_Disadvantaged'].astype(float)

reportcard_df = reportcard_df.rename(columns={'School_Year': 'SCHOOL_YEAR'})

reportcard_df = reportcard_df.rename(columns={'SCHOOL_YEAR': 'YEAR'})
reportcard_df = reportcard_df.rename(columns={'District_ID': 'ID'})
reportcard_df = reportcard_df.rename(columns={'District_Name': 'DISTRICT'})


#New dtypes
reportcard_df.dtypes

In [ ]:
post_sec_df.dtypes

In [ ]:
post_sec_df.count()

In [ ]:
# Remove aggregate data with [Statewide] distinction
post_sec_df = post_sec_df[post_sec_df['DISTRICT_ID'] != 0]
post_sec_df.head(10)

In [ ]:
post_sec_df = post_sec_df[post_sec_df['STUDENT_COUNT'] != '*']
post_sec_df.count()

In [ ]:
# replace '*' with NaN
post_sec_df = post_sec_df.replace('*', np.NaN)
# Remove aggregate data with [Districtwide] distinction
post_sec_df = post_sec_df[post_sec_df['SCHOOL_NAME'] != '[Districtwide]']
post_sec_df.count()

In [ ]:
# Typecast numeric data
post_sec_df['CESA'] = post_sec_df['CESA'].astype(int)
post_sec_df['SCHOOL_CODE'] = post_sec_df['SCHOOL_CODE'].astype(int)
post_sec_df['GROUP_COUNT'] = post_sec_df['GROUP_COUNT'].astype(int)
post_sec_df['STUDENT_COUNT'] = post_sec_df['STUDENT_COUNT'].astype(int)

# Change Charter School Yes/No to a boolean
post_sec_df['CHARTER_IND'].replace(('Yes', 'No'), (True, False), inplace=True)

post_sec_df = post_sec_df.rename(columns={'SCHOOL_YEAR': 'YEAR'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_ID': 'ID'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

In [ ]:
post_sec_df.dtypes

In [ ]:
post_sec_df.to_csv('post_sec_clean.csv')

In [ ]:
#check for missing values
budget_df.count()

In [ ]:
#total empty rows
budget_df.isnull().sum()

In [ ]:
budget_df.dtypes

In [ ]:
#dropping Hartford UHS and Platteville with - values in amount column
budget_df = budget_df[budget_df[' AMOUNT '] != ' $-   ']
budget_df.count()

In [ ]:
# Remove $ and , and convert to float
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(',', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(' ', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('(', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(')', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('$', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].astype(float)

budget_df = budget_df.rename(columns={'School_Year': 'YEAR'})
budget_df = budget_df.rename(columns={'DISTRICT_ID': 'ID'})
budget_df = budget_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

In [ ]:
budget_df.head()

In [ ]:
# split column and add new columns to df
split_fund_function = budget_df['Fund_Function'].str.split(' ', expand=True)
# display the dataframe
split_fund_function.head()

In [ ]:
#dropping fund function column
budget_df = budget_df.drop(['Fund_Function'], axis=1)
budget_df.head()

In [ ]:
budget_df = budget_df.join(split_fund_function)
budget_df.head()

In [ ]:
budget_df.columns = ['YEAR', 'ID', 'DISTRICT', 'AMOUNT', 'FUND', 'FUNCTION']

In [ ]:
budget_df

In [ ]:
budget_df.to_csv('Resources/budget_clean.csv')

In [ ]:

#create connection to Postgres, add movies_df df to sql database
#create connection string through local serving (using db password variable)
db_string = f"postgresql://postgres:postgres@127.0.0.1:5432/HSPostSecAnalysis"
#create database engine
engine = create_engine(db_string)


#save DataFrame to a SQL table (specify name of table and engine in to_sql method)
masterlist_df.to_sql(name='Master', con=engine, if_exists='replace')
post_sec_df.to_sql(name='PostSecEnroll', con=engine, if_exists='replace')
budget_df.to_sql(name='Budgets', con=engine, if_exists='replace')
cost_df.to_sql(name='Costs', con=engine, if_exists='replace')
revenue_df.to_sql(name='Revenues', con=engine, if_exists='replace')
reportcard_df.to_sql(name='ReportCards', con=engine, if_exists='replace')

In [19]:
#check for missing values
reportcard_df

,School_Year,District_ID,School_Code,Cooperative_Educational_Service_Agency,District_Name,Overall_Accountability_Score,Overall_Accountability_Rating,Lowest_Grade_in_the_District,Highest_Grade_in_the_District,School_Type,...,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_ELA_Achievement_Score,District_Mathematics_Achievement_Score,District_Student_Growth_Score,District_ELA_Growth_Score,District_Mathematics_Growth_Score
0,2020-21,2450,20,Arrowhead UHS,Arrowhead High,85.2,Significantly Exceeds Expectations,9,12,High School,...,0.084,0.003,0.0,0.011,88.1,84.6,91.6,71.7,58.4,85.0
1,2020-21,6013,20,Big Foot UHS,Big Foot High,71.5,Exceeds Expectations,9,12,High School,...,0.423,0.047,0.0,0.013,60.6,65.7,55.5,71.7,77.4,66.0
2,2020-21,657,20,Brighton #1,Brighton Elementary,83.4,Significantly Exceeds Expectations,K4,8,Elementary School,...,0.17,0.005,0.0,0.025,88.9,86.6,91.2,65.1,60.3,69.8
3,2020-21,665,20,Bristol #1,Bristol Elementary,80.3,Exceeds Expectations,K4,8,Elementary School,...,0.224,0.009,0.0,0.015,75.3,76.3,74.2,75.5,81.2,69.8
4,2020-21,5054,20,Central/Westosha UHS,Central High,71.2,Exceeds Expectations,9,12,High School,...,0.213,0.012,0.0,0.027,71.6,73.8,69.4,70.8,66.0,75.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,2018-19,6083,20,Waterford UHS,Waterford High,79.6,Exceeds Expectations^,9,12,High School,...,0.094,0.005,0.0,0.017,74.4,37.2,37.2,78.4,33.0,45.4
1260,2018-19,6412,20,Wheatland J1,Wheatland Center Elementary,71,Meets Expectations,K4,8,Elementary School,...,0.458,0.002,0.0,0.026,74.2,37.3,36.9,68.0,37.8,30.2
1261,2018-19,6545,20,Wilmot UHS,Wilmot High,70,Meets Expectations,9,12,High School,...,0.288,0.007,0.0,0.054,65.3,33.8,31.5,52.7,29.2,23.5
1262,2018-19,6720,20,Woodruff J1,Arbor Vitae-Woodruff Elementary,81.8,Exceeds Expectations,K4,8,Elementary School,...,0.514,0,0.0,0.033,77.4,39.3,38.1,78.4,35.9,42.5
1263,2018-19,6748,20,Yorkville J2,Yorkville Elementary,84.1,Significantly Exceeds Expectations,K4,8,Elementary School,...,0.1,0.007,0.0,0.007,77.2,38.2,39.0,79.3,40.6,38.7

In [20]:
#checking the data types
reportcard_df.dtypes

School_Year                                           object
District_ID                                            int64
School_Code                                           object
Cooperative_Educational_Service_Agency                object
District_Name                                         object
Overall_Accountability_Score                          object
Overall_Accountability_Rating                         object
Lowest_Grade_in_the_District                          object
Highest_Grade_in_the_District                          int64
School_Type                                           object
District_Enrollment                                    int64
Percent_American_Indian_or_Alaskan_Native            float64
Percent_Asian                                        float64
Percent_Black_or_African_American                    float64
Percent_Hispanic_Latino                              float64
Percent_Native_Hawaiian_or_Other_Pacific_Islander    float64
Percent_White                                        float64
Percent_Two_or_More_Races                            float64
Percent_Students_with_Disabilities                    object
Percent_Economically_Disadvantaged                    object
Percent_Limited_English_Proficient                    object
Percent_Within_District_Mobility                     float64
Percent_Between_District_Mobility                    float64
District_Student_Achievement_Score                   float64
District_ELA_Achievement_Score                       float64
District_Mathematics_Achievement_Score               float64
District_Student_Growth_Score                        float64
District_ELA_Growth_Score                            float64
District_Mathematics_Growth_Score                    float64
dtype: object

In [21]:
for col in reportcard_df.columns:
    print(col)

School_Year
District_ID
School_Code
Cooperative_Educational_Service_Agency
District_Name
Overall_Accountability_Score
Overall_Accountability_Rating
Lowest_Grade_in_the_District
Highest_Grade_in_the_District
School_Type
District_Enrollment
Percent_American_Indian_or_Alaskan_Native
Percent_Asian
Percent_Black_or_African_American
Percent_Hispanic_Latino
Percent_Native_Hawaiian_or_Other_Pacific_Islander
Percent_White
Percent_Two_or_More_Races
Percent_Students_with_Disabilities
Percent_Economically_Disadvantaged
Percent_Limited_English_Proficient
Percent_Within_District_Mobility
Percent_Between_District_Mobility
District_Student_Achievement_Score
District_ELA_Achievement_Score
District_Mathematics_Achievement_Score
District_Student_Growth_Score
District_ELA_Growth_Score
District_Mathematics_Growth_Score

In [22]:
# checking the null values but not removing due to data loss
reportcard_df.isnull().sum()

School_Year                                             0
District_ID                                             0
School_Code                                           379
Cooperative_Educational_Service_Agency                  0
District_Name                                           0
Overall_Accountability_Score                            3
Overall_Accountability_Rating                           3
Lowest_Grade_in_the_District                            0
Highest_Grade_in_the_District                           0
School_Type                                          1131
District_Enrollment                                     0
Percent_American_Indian_or_Alaskan_Native               0
Percent_Asian                                           0
Percent_Black_or_African_American                       0
Percent_Hispanic_Latino                                 0
Percent_Native_Hawaiian_or_Other_Pacific_Islander       0
Percent_White                                           0
Percent_Two_or_More_Races                               0
Percent_Students_with_Disabilities                      0
Percent_Economically_Disadvantaged                      0
Percent_Limited_English_Proficient                      0
Percent_Within_District_Mobility                        0
Percent_Between_District_Mobility                       0
District_Student_Achievement_Score                      4
District_ELA_Achievement_Score                          4
District_Mathematics_Achievement_Score                  4
District_Student_Growth_Score                          14
District_ELA_Growth_Score                              14
District_Mathematics_Growth_Score                      14
dtype: int64

In [23]:
# removing columns 'School_Code','School_Type'
reportcard_df = reportcard_df.drop(columns=['School_Code','School_Type'])
#changing data type to string
reportcard_df['Cooperative_Educational_Service_Agency'] = reportcard_df['Cooperative_Educational_Service_Agency'].astype("string")
#changing data type to string
reportcard_df['Lowest_Grade_in_the_District'] = reportcard_df['Lowest_Grade_in_the_District'].astype("string")
#changing data type to string
reportcard_df['Highest_Grade_in_the_District'] = reportcard_df['Highest_Grade_in_the_District'].astype("string")
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df= reportcard_df.dropna(subset =['Overall_Accountability_Score'])
#Removing NA and AR values from Percent_Students_with_Disabilities
reportcard_df = reportcard_df[reportcard_df['Overall_Accountability_Score']!='AR']
#changing data type to float
reportcard_df['Overall_Accountability_Score'] =reportcard_df['Overall_Accountability_Score'].astype(float)
#changing data type to float
reportcard_df['Percent_Students_with_Disabilities'] =reportcard_df['Percent_Students_with_Disabilities'].astype(float)
#changing data type to float
reportcard_df['Percent_Limited_English_Proficient'] =reportcard_df['Percent_Limited_English_Proficient'].astype(float)
#changing data type to float
reportcard_df['Percent_Economically_Disadvantaged'] =reportcard_df['Percent_Economically_Disadvantaged'].astype(float)

reportcard_df = reportcard_df.rename(columns={'School_Year': 'SCHOOL_YEAR'})

reportcard_df = reportcard_df.rename(columns={'SCHOOL_YEAR': 'year'})
reportcard_df = reportcard_df.rename(columns={'District_ID': 'id'})
reportcard_df = reportcard_df.rename(columns={'District_Name': 'DISTRICT'})


#New dtypes
reportcard_df.dtypes

year                                                  object
id                                                     int64
Cooperative_Educational_Service_Agency                string
DISTRICT                                              object
Overall_Accountability_Score                         float64
Overall_Accountability_Rating                         object
Lowest_Grade_in_the_District                          string
Highest_Grade_in_the_District                         string
District_Enrollment                                    int64
Percent_American_Indian_or_Alaskan_Native            float64
Percent_Asian                                        float64
Percent_Black_or_African_American                    float64
Percent_Hispanic_Latino                              float64
Percent_Native_Hawaiian_or_Other_Pacific_Islander    float64
Percent_White                                        float64
Percent_Two_or_More_Races                            float64
Percent_Students_with_Disabilities                   float64
Percent_Economically_Disadvantaged                   float64
Percent_Limited_English_Proficient                   float64
Percent_Within_District_Mobility                     float64
Percent_Between_District_Mobility                    float64
District_Student_Achievement_Score                   float64
District_ELA_Achievement_Score                       float64
District_Mathematics_Achievement_Score               float64
District_Student_Growth_Score                        float64
District_ELA_Growth_Score                            float64
District_Mathematics_Growth_Score                    float64
dtype: object

In [24]:
reportcard_df = reportcard_df.rename(columns={'YEAR': 'year'})
reportcard_df = reportcard_df.rename(columns={'ID': 'id'})

In [25]:
post_sec_df.dtypes

SCHOOL_YEAR              object
AGENCY_TYPE              object
CHARTER_IND              object
CESA                    float64
COUNTY                   object
DISTRICT_ID               int64
SCHOOL_CODE             float64
GRADE_GROUP              object
DISTRICT_NAME            object
SCHOOL_NAME              object
INITIAL_ENROLLMENT       object
INSTITUTION_LOCATION     object
INSTITUTION_LEVEL        object
INSTITUTION_TYPE         object
GROUP_BY                 object
GROUP_BY_VALUE           object
GROUP_COUNT              object
STUDENT_COUNT            object
dtype: object

In [26]:
post_sec_df.count()

SCHOOL_YEAR             228739
AGENCY_TYPE             226669
CHARTER_IND             226669
CESA                    226669
COUNTY                  226669
DISTRICT_ID             228739
SCHOOL_CODE             124358
GRADE_GROUP             228739
DISTRICT_NAME           228739
SCHOOL_NAME             228739
INITIAL_ENROLLMENT      228739
INSTITUTION_LOCATION    228739
INSTITUTION_LEVEL       228739
INSTITUTION_TYPE        228739
GROUP_BY                228739
GROUP_BY_VALUE          228739
GROUP_COUNT             228739
STUDENT_COUNT           228739
dtype: int64

In [27]:
# Remove aggregate data with [Statewide] distinction
post_sec_df = post_sec_df[post_sec_df['DISTRICT_ID'] != 0]
post_sec_df.head(10)

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_ID,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT
576,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,2-Year,Public,All Students,All Students,21,4
577,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,4-Year,Public,All Students,All Students,21,12
578,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,Multiple,Public,All Students,All Students,21,1
579,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,Out-of-State,4-Year,Private,All Students,All Students,21,1
580,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],Second Fall,In-State,4-Year,Private,All Students,All Students,21,1
581,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],Second Fall,In-State,4-Year,Public,All Students,All Students,21,2
582,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,2-Year,Public,Disability Status,SwoD,21,4
583,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,4-Year,Public,Disability Status,SwoD,21,12
584,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,In-State,Multiple,Public,Disability Status,SwoD,21,1
585,2019-20,School District,No,10.0,Clark,7,NaN,[All],Abbotsford,[Districtwide],First Fall,Out-of-State,4-Year,Private,Disability Status,SwoD,21,1

In [28]:
post_sec_df = post_sec_df[post_sec_df['STUDENT_COUNT'] != '*']
post_sec_df.count()

SCHOOL_YEAR             212753
AGENCY_TYPE             212753
CHARTER_IND             212753
CESA                    212753
COUNTY                  212753
DISTRICT_ID             212753
SCHOOL_CODE             115830
GRADE_GROUP             212753
DISTRICT_NAME           212753
SCHOOL_NAME             212753
INITIAL_ENROLLMENT      212753
INSTITUTION_LOCATION    212753
INSTITUTION_LEVEL       212753
INSTITUTION_TYPE        212753
GROUP_BY                212753
GROUP_BY_VALUE          212753
GROUP_COUNT             212753
STUDENT_COUNT           212753
dtype: int64

In [29]:
# replace '*' with NaN
post_sec_df = post_sec_df.replace('*', np.NaN)
# Remove aggregate data with [Districtwide] distinction
post_sec_df = post_sec_df[post_sec_df['SCHOOL_NAME'] != '[Districtwide]']
post_sec_df.count()

SCHOOL_YEAR             115830
AGENCY_TYPE             115830
CHARTER_IND             115830
CESA                    115830
COUNTY                  115830
DISTRICT_ID             115830
SCHOOL_CODE             115830
GRADE_GROUP             115830
DISTRICT_NAME           115830
SCHOOL_NAME             115830
INITIAL_ENROLLMENT      115830
INSTITUTION_LOCATION    115830
INSTITUTION_LEVEL       115830
INSTITUTION_TYPE        115830
GROUP_BY                115830
GROUP_BY_VALUE          115830
GROUP_COUNT             115830
STUDENT_COUNT           115830
dtype: int64

In [30]:
# Typecast numeric data
post_sec_df['CESA'] = post_sec_df['CESA'].astype(int)
post_sec_df['SCHOOL_CODE'] = post_sec_df['SCHOOL_CODE'].astype(int)
post_sec_df['GROUP_COUNT'] = post_sec_df['GROUP_COUNT'].astype(int)
post_sec_df['STUDENT_COUNT'] = post_sec_df['STUDENT_COUNT'].astype(int)

# Change Charter School Yes/No to a boolean
post_sec_df['CHARTER_IND'].replace(('Yes', 'No'), (True, False), inplace=True)

post_sec_df = post_sec_df.rename(columns={'SCHOOL_YEAR': 'YEAR'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_ID': 'ID'})
post_sec_df = post_sec_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

In [31]:
post_sec_df.dtypes

YEAR                    object
AGENCY_TYPE             object
CHARTER_IND               bool
CESA                     int32
COUNTY                  object
ID                       int64
SCHOOL_CODE              int32
GRADE_GROUP             object
DISTRICT                object
SCHOOL_NAME             object
INITIAL_ENROLLMENT      object
INSTITUTION_LOCATION    object
INSTITUTION_LEVEL       object
INSTITUTION_TYPE        object
GROUP_BY                object
GROUP_BY_VALUE          object
GROUP_COUNT              int32
STUDENT_COUNT            int32
dtype: object

In [32]:
post_sec_df.to_csv('post_sec_clean.csv')

In [33]:
#check for missing values
budget_df.count()

School_Year      720786
DISTRICT_ID      720786
DISTRICT_NAME    720786
Fund_Function    720786
 AMOUNT          720786
dtype: int64

In [34]:
#total empty rows
budget_df.isnull().sum()

School_Year      0
DISTRICT_ID      0
DISTRICT_NAME    0
Fund_Function    0
 AMOUNT          0
dtype: int64

In [35]:
budget_df.dtypes

School_Year      object
DISTRICT_ID       int64
DISTRICT_NAME    object
Fund_Function    object
 AMOUNT          object
dtype: object

In [36]:
#dropping Hartford UHS and Platteville with - values in amount column
budget_df = budget_df[budget_df[' AMOUNT '] != ' $-   ']
budget_df.count()

School_Year      720782
DISTRICT_ID      720782
DISTRICT_NAME    720782
Fund_Function    720782
 AMOUNT          720782
dtype: int64

In [37]:
# Remove $ and , and convert to float
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(',', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(' ', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('(', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace(')', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].str.replace('$', '')
budget_df[' AMOUNT '] = budget_df[' AMOUNT '].astype(float)

budget_df = budget_df.rename(columns={'School_Year': 'YEAR'})
budget_df = budget_df.rename(columns={'DISTRICT_ID': 'ID'})
budget_df = budget_df.rename(columns={'DISTRICT_NAME': 'DISTRICT'})

c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """
c:\Users\johansenbl29\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [38]:
budget_df.head()

      YEAR  ID    DISTRICT  Fund_Function    AMOUNT
0  2017-18   7  Abbotsford  08B 800000001  5761542.0
1  2017-18   7  Abbotsford  08B 800000002  5080000.0
2  2017-18   7  Abbotsford  08B 840000001  5761542.0
3  2017-18   7  Abbotsford  08B 840000002  5080000.0
4  2017-18   7  Abbotsford  08B 842300001  5650000.0

In [39]:
# split column and add new columns to df
split_fund_function = budget_df['Fund_Function'].str.split(' ', expand=True)
# display the dataframe
split_fund_function.head()

     0          1
0  08B  800000001
1  08B  800000002
2  08B  840000001
3  08B  840000002
4  08B  842300001

In [40]:
#dropping fund function column
budget_df = budget_df.drop(['Fund_Function'], axis=1)
budget_df.head()

      YEAR  ID    DISTRICT    AMOUNT
0  2017-18   7  Abbotsford  5761542.0
1  2017-18   7  Abbotsford  5080000.0
2  2017-18   7  Abbotsford  5761542.0
3  2017-18   7  Abbotsford  5080000.0
4  2017-18   7  Abbotsford  5650000.0

In [41]:
budget_df = budget_df.join(split_fund_function)
budget_df.head()

      YEAR  ID    DISTRICT    AMOUNT     0          1
0  2017-18   7  Abbotsford  5761542.0  08B  800000001
1  2017-18   7  Abbotsford  5080000.0  08B  800000002
2  2017-18   7  Abbotsford  5761542.0  08B  840000001
3  2017-18   7  Abbotsford  5080000.0  08B  840000002
4  2017-18   7  Abbotsford  5650000.0  08B  842300001

In [42]:
budget_df.columns = ['year', 'id', 'district', 'amount', 'fund', 'function']

In [43]:
budget_df

           year    id      district     amount fund   function
0       2017-18     7    Abbotsford  5761542.0  08B  800000001
1       2017-18     7    Abbotsford  5080000.0  08B  800000002
2       2017-18     7    Abbotsford  5761542.0  08B  840000001
3       2017-18     7    Abbotsford  5080000.0  08B  840000002
4       2017-18     7    Abbotsford  5650000.0  08B  842300001
...         ...   ...           ...        ...  ...        ...
720781  2018-19  6748  Yorkville J2     8000.0  80E  253000100
720782  2018-19  6748  Yorkville J2     8000.0  80R  000000000
720783  2018-19  6748  Yorkville J2     8000.0  80R  000000200
720784  2018-19  6748  Yorkville J2     8000.0  80R  000000210
720785  2018-19  6748  Yorkville J2     8000.0  80R  000000211

[720782 rows x 6 columns]

In [44]:
budget_df.to_csv('Resources/budget_clean.csv')

In [45]:

# #create connection to Postgres, add movies_df df to sql database
# #create connection string through local serving (using db password variable)
# db_string = f"postgresql://postgres:Buffy1980@127.0.0.1:5432/HSPostSecAnalysis"
# #create database engine
# engine = create_engine(db_string)


# #save DataFrame to a SQL table (specify name of table and engine in to_sql method)
# masterlist_df.to_sql(name='master', con=engine, if_exists='replace')
# post_sec_df.to_sql(name='postsecenroll', con=engine, if_exists='replace')
# budget_df.to_sql(name='budgets', con=engine, if_exists='replace')
# cost_df.to_sql(name='costs', con=engine, if_exists='replace')
# revenue_df.to_sql(name='revenues', con=engine, if_exists='replace')
# reportcard_df.to_sql(name='reportcards', con=engine, if_exists='replace')

In [46]:
costs_revenues_df = cost_df.merge(revenue_df, how='left', on=['id', 'year'])
costs_revenues_df = costs_revenues_df.drop(columns=['district_y'])

In [47]:
costs_revenues_df = costs_revenues_df.drop(columns=['MEMBER'])

In [48]:
costs_revenues_df.head(20)

,id,district_x,year,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,revproptax,revfederal,revstate,revlocal,revtotal
0,7,Abbotsford,2019-20,775,5537677.76,626845.61,953465.76,1178853.75,285017.43,624371.52,2083227.00,953036.11,7452256.84,278642.20,10767162.15
1,7,Abbotsford,2020-21,795,5864021.77,561306.41,951675.18,1306162.74,284588.19,674102.51,2125709.00,1422104.28,7744882.90,516171.64,11808867.82
2,7,Abbotsford,2017-18,771,4712764.25,558286.58,871757.43,2018703.90,334309.84,552630.62,2097033.00,917850.61,6524556.00,423985.80,9963425.41
3,7,Abbotsford,2018-19,767,4900421.54,532611.13,1006530.80,1788218.10,333778.82,603227.06,2113688.00,906123.08,7118411.49,312462.93,10450685.50
4,14,Adams-Friendship Area,2019-20,1511,12260874.21,2285988.23,2069684.15,2667794.18,788916.08,1287245.82,11131295.00,2689740.62,8870177.62,834039.30,23525252.54
5,14,Adams-Friendship Area,2020-21,1403,11976390.80,2655612.40,1895886.72,2863801.83,964664.79,1277857.45,11927267.00,4185242.22,8143533.47,781510.43,25037553.12
6,14,Adams-Friendship Area,2017-18,1663,11315823.01,2110928.68,2115173.60,3129814.10,1130666.59,1219918.82,12318610.00,3055157.16,8243403.20,399321.58,24016491.94
7,14,Adams-Friendship Area,2018-19,1606,11697411.80,2168049.91,1978723.20,3029979.29,1092288.17,1216415.84,11491676.00,2827930.06,8572807.13,312183.51,23204596.70
8,63,Albany,2019-20,456,3967462.80,637903.47,537812.71,734957.61,205236.89,169144.79,3177694.00,346574.24,3407735.52,446756.32,7378760.08
9,63,Albany,2020-21,410,4036545.03,654396.92,523224.33,804264.88,234252.94,136182.86,3040949.00,453496.89,3568519.32,188382.29,7251347.50
10,63,Albany,2017-18,417,3509101.44,356681.75,607621.75,624028.78,236955.80,174214.48,3101509.00,241119.63,2852096.92,505339.70,6700065.25
11,63,Albany,2018-19,449,3859375.73,596690.64,548240.99,616718.39,242293.40,176392.32,3272394.00,289511.39,3048034.36,328287.31,6938227.06
12,70,Algoma,2019-20,753,4781520.79,898721.25,802739.75,1685124.12,230456.88,716421.44,3425587.00,786992.57,5711573.86,535291.62,10459445.05
13,70,Algoma,2020-21,696,4956397.67,724594.50,806362.25,1722076.68,222379.63,719352.65,3491394.00,809799.56,5797295.13,357689.74,10456178.43
14,70,Algoma,2017-18,733,4178318.45,711312.88,783952.79,1562039.60,287667.19,544778.37,3279547.00,544648.00,5006823.23,416420.22,9247438.45
15,70,Algoma,2018-19,750,4573925.75,837964.41,921026.55,1426256.96,252000.13,660564.44,3306914.00,595519.45,5345443.60,571090.59,9818967.64
16,84,Alma,2019-20,234,1819498.14,245575.34,421839.00,501027.43,370568.82,169950.31,2239440.00,226704.19,1256589.53,228973.16,3951706.88
17,84,Alma,2020-21,222,1898624.45,300178.05,441734.72,467461.02,192826.79,176462.82,2197667.00,345442.16,1713302.90,211664.55,4468076.61
18,84,Alma,2017-18,219,1731407.57,223417.02,454989.52,524144.38,242618.66,158534.06,2354785.51,209618.36,962698.19,168105.71,3695207.77
19,84,Alma,2018-19,223,1687675.82,244134.34,411002.76,578439.43,204943.85,163031.75,2411123.00,196617.12,1054167.59,174754.01,3836661.72

In [49]:
costs_revenues_budgets = budget_df.merge(costs_revenues_df, how='left', on=['id', 'year'])
costs_revenues_budgets.head(30)

,year,id,district,amount,fund,function,district_x,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,revproptax,revfederal,revstate,revlocal,revtotal
0,2017-18,7,Abbotsford,5761542.00,08B,800000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
1,2017-18,7,Abbotsford,5080000.00,08B,800000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
2,2017-18,7,Abbotsford,5761542.00,08B,840000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
3,2017-18,7,Abbotsford,5080000.00,08B,840000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
4,2017-18,7,Abbotsford,5650000.00,08B,842300001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
5,2017-18,7,Abbotsford,5080000.00,08B,842300002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
6,2017-18,7,Abbotsford,111542.00,08B,842600001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
7,2017-18,7,Abbotsford,2207954.26,10B,900000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
8,2017-18,7,Abbotsford,2207954.26,10B,900000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
9,2017-18,7,Abbotsford,2207954.26,10B,930000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
10,2017-18,7,Abbotsford,2207954.26,10B,930000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
11,2017-18,7,Abbotsford,517165.00,10B,937900001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
12,2017-18,7,Abbotsford,517165.00,10B,937900002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
13,2017-18,7,Abbotsford,1690789.26,10B,939900001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
14,2017-18,7,Abbotsford,1690789.26,10B,939900002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
15,2017-18,7,Abbotsford,9022726.00,10E,000000000,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
16,2017-18,7,Abbotsford,3832730.00,10E,100000000,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
17,2017-18,7,Abbotsford,1619399.00,10E,110000000,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
18,2017-18,7,Abbotsford,1209636.00,10E,110000100,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
19,2017-18,7,Abbotsford,349241.00,10E,110000200,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
20,2017-18,7,Abbotsford,74798.00,10E,110000210,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
21,2017-18,7,Abbotsford,72298.00,10E,110000211,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
22,2017-18,7,Abbotsford,2500.00,10E,110000212,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
23,2017-18,7,Abbotsford,86254.00,10E,110000220,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
24,2017-18,7,Abbotsford,184624.00,10E,110000240,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
25,2017-18,7,Abbotsford,3565.00,10E,110000250,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
26,2017-18,7,Abbotsford,16456.00,10E,110000300,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
27,2017-18,7,Abbotsford,16456.00,10E,110000310,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
28,2017-18,7,Abbotsford,43916.00,10E,110000400,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
29,2017-18,7,Abbotsford,21007.00,10E,110000410,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41

In [50]:
costs_revenues_budgets.head(30)

,year,id,district,amount,fund,function,district_x,Member,Instruction,costpupilstaff,costadmin,costoperation,costtransport,costfoodservice,revproptax,revfederal,revstate,revlocal,revtotal
0,2017-18,7,Abbotsford,5761542.00,08B,800000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
1,2017-18,7,Abbotsford,5080000.00,08B,800000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
2,2017-18,7,Abbotsford,5761542.00,08B,840000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
3,2017-18,7,Abbotsford,5080000.00,08B,840000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
4,2017-18,7,Abbotsford,5650000.00,08B,842300001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
5,2017-18,7,Abbotsford,5080000.00,08B,842300002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
6,2017-18,7,Abbotsford,111542.00,08B,842600001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
7,2017-18,7,Abbotsford,2207954.26,10B,900000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
8,2017-18,7,Abbotsford,2207954.26,10B,900000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
9,2017-18,7,Abbotsford,2207954.26,10B,930000001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
10,2017-18,7,Abbotsford,2207954.26,10B,930000002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
11,2017-18,7,Abbotsford,517165.00,10B,937900001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
12,2017-18,7,Abbotsford,517165.00,10B,937900002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
13,2017-18,7,Abbotsford,1690789.26,10B,939900001,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
14,2017-18,7,Abbotsford,1690789.26,10B,939900002,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
15,2017-18,7,Abbotsford,9022726.00,10E,000000000,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
16,2017-18,7,Abbotsford,3832730.00,10E,100000000,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
17,2017-18,7,Abbotsford,1619399.00,10E,110000000,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
18,2017-18,7,Abbotsford,1209636.00,10E,110000100,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
19,2017-18,7,Abbotsford,349241.00,10E,110000200,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
20,2017-18,7,Abbotsford,74798.00,10E,110000210,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
21,2017-18,7,Abbotsford,72298.00,10E,110000211,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
22,2017-18,7,Abbotsford,2500.00,10E,110000212,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
23,2017-18,7,Abbotsford,86254.00,10E,110000220,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
24,2017-18,7,Abbotsford,184624.00,10E,110000240,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
25,2017-18,7,Abbotsford,3565.00,10E,110000250,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
26,2017-18,7,Abbotsford,16456.00,10E,110000300,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
27,2017-18,7,Abbotsford,16456.00,10E,110000310,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
28,2017-18,7,Abbotsford,43916.00,10E,110000400,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41
29,2017-18,7,Abbotsford,21007.00,10E,110000410,Abbotsford,771.0,4712764.25,558286.58,871757.43,2018703.9,334309.84,552630.62,2097033.0,917850.61,6524556.0,423985.8,9963425.41

In [51]:
costs_revenues_budgets.count()

year               720782
id                 720782
district           720782
amount             720782
fund               720782
function           720782
district_x         718059
Member             718059
Instruction        718059
costpupilstaff     718059
costadmin          718059
costoperation      718059
costtransport      718059
costfoodservice    718059
revproptax         718059
revfederal         718059
revstate           718059
revlocal           718059
revtotal           718059
dtype: int64

In [52]:
money_reportcard_df = costs_revenues_budgets.merge(reportcard_df, how='left', on=['id', 'year'])

money_reportcard_df.head()

,year,id,district,amount,fund,function,district_x,Member,Instruction,costpupilstaff,...,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_ELA_Achievement_Score,District_Mathematics_Achievement_Score,District_Student_Growth_Score,District_ELA_Growth_Score,District_Mathematics_Growth_Score
0,2017-18,7,Abbotsford,5761542.0,08B,800000001,Abbotsford,771.0,4712764.25,558286.58,...,0.685,0.308,0.0,0.041,50.6,26.5,24.1,69.9,35.9,34.0
1,2017-18,7,Abbotsford,5080000.0,08B,800000002,Abbotsford,771.0,4712764.25,558286.58,...,0.685,0.308,0.0,0.041,50.6,26.5,24.1,69.9,35.9,34.0
2,2017-18,7,Abbotsford,5761542.0,08B,840000001,Abbotsford,771.0,4712764.25,558286.58,...,0.685,0.308,0.0,0.041,50.6,26.5,24.1,69.9,35.9,34.0
3,2017-18,7,Abbotsford,5080000.0,08B,840000002,Abbotsford,771.0,4712764.25,558286.58,...,0.685,0.308,0.0,0.041,50.6,26.5,24.1,69.9,35.9,34.0
4,2017-18,7,Abbotsford,5650000.0,08B,842300001,Abbotsford,771.0,4712764.25,558286.58,...,0.685,0.308,0.0,0.041,50.6,26.5,24.1,69.9,35.9,34.0

In [53]:
money_reportcard_df = money_reportcard_df.drop(columns=['district_x'])

money_reportcard_df.sample(20)

,year,id,district,amount,fund,function,Member,Instruction,costpupilstaff,costadmin,...,Percent_Economically_Disadvantaged,Percent_Limited_English_Proficient,Percent_Within_District_Mobility,Percent_Between_District_Mobility,District_Student_Achievement_Score,District_ELA_Achievement_Score,District_Mathematics_Achievement_Score,District_Student_Growth_Score,District_ELA_Growth_Score,District_Mathematics_Growth_Score
706893,2018-19,6426,Whitehall,4200.0,10E,260000320,784.0,5708245.10,1005279.84,954294.52,...,0.434,0.044,0.000,0.037,58.2,29.2,29.0,68.9,29.2,39.7
301892,2017-18,5780,Trevor-Wilmot Consolidated,12910.0,10E,251000200,453.0,3389072.93,826695.78,758749.46,...,0.331,0.011,0.000,0.021,82.0,42.1,39.9,72.7,37.8,34.9
452286,2018-19,1939,Frederic,10000.0,10E,140000290,535.0,3645696.58,459878.63,768869.65,...,0.564,0.007,0.000,0.046,59.2,30.4,28.8,50.9,24.5,26.4
238313,2017-18,4515,Port Washington-Saukville,239000.0,27E,256750341,2673.0,19422390.33,2878066.12,2574659.32,...,0.194,0.015,0.001,0.024,77.3,40.5,36.8,59.3,28.2,31.1
316639,2017-18,6174,Waukesha,13133.0,10E,215000220,12822.0,87087206.37,18579770.87,12743819.55,...,0.299,0.096,0.009,0.031,63.9,31.9,32.0,65.1,31.1,34.0
713765,2018-19,6678,Wisconsin Dells,116313.0,10E,221300300,1829.0,13365095.63,2208508.20,1846028.67,...,0.560,0.098,0.001,0.066,62.2,30.6,31.6,68.9,34.0,34.9
379389,2018-19,441,Birchwood,1011155.0,10R,000000340,206.0,1677117.67,382741.36,595860.75,...,0.523,0.000,0.011,0.064,60.1,30.3,29.8,63.2,30.2,33.0
326840,2017-18,6307,West Bend,73888.0,10E,230000210,6923.0,48087816.82,7835761.34,6071231.50,...,0.284,0.017,0.001,0.034,73.7,36.3,37.4,70.8,32.1,38.7
347254,2017-18,6734,Wrightstown Community,444912.0,10E,210000000,1325.0,8207700.39,1219946.45,1267975.27,...,0.200,0.050,0.000,0.017,88.1,41.9,46.2,73.6,31.1,42.5
594870,2018-19,4270,Pepin Area,40000.0,27R,000000310,254.0,2431191.42,356515.43,513128.90,...,0.191,0.000,0.000,0.018,71.3,34.4,36.9,76.5,40.6,35.9
548120,2018-19,3633,Mineral Point,4000.0,27E,221300340,714.0,6207077.77,876295.61,932408.84,...,0.261,0.001,0.000,0.039,84.1,40.9,43.2,82.2,37.8,44.4
245292,2017-18,4613,Pulaski Community,345860.0,27E,150000210,3897.0,26289062.38,3498472.55,2957519.46,...,0.182,0.012,0.002,0.027,68.8,33.0,35.8,70.8,30.2,40.6
584246,2018-19,4095,Onalaska,13000.0,27E,174100310,2929.0,21971454.02,3638008.40,2966385.97,...,0.291,0.056,0.000,0.026,77.2,38.6,38.6,70.8,32.1,38.7
158975,2017-18,3213,Luck,30000.0,10E,260000440,505.0,3700817.04,371906.94,670746.03,...,0.398,0.000,0.000,0.038,54.7,29.2,25.5,64.2,30.2,34.0
349069,2018-19,14,Adams-Friendship Area,3000.0,10E,131000219,1606.0,11697411.80,2168049.91,1978723.20,...,0.679,0.012,0.002,0.078,44.8,22.0,22.8,49.0,22.6,26.4
671248,2018-19,5780,Trevor-Wilmot Consolidated,5000.0,10R,000000970,484.0,3366985.25,899283.71,804283.43,...,0.353,0.023,0.000,0.030,81.4,41.1,40.3,66.0,31.1,34.9
448910,2018-19,1870,Fontana J8,62700.0,50E,250000000,162.0,1472199.11,326520.65,532871.20,...,0.271,0.023,0.000,0.033,76.2,37.5,38.7,64.1,29.2,34.9
553901,2018-19,3689,Montello,1040118.0,10E,430000000,726.0,5296980.74,1018501.80,790669.34,...,0.515,0.000,0.002,0.053,49.7,25.4,24.3,54.6,27.3,27.3
384062,2018-19,602,Bonduel,4467578.0,10R,000000621,843.0,6366801.36,808458.63,1032689.70,...,0.392,0.014,0.000,0.046,61.9,31.7,30.2,65.1,34.9,30.2
314032,2017-18,6083,Waterford UHS,4000.0,10E,132000470,1130.0,8130444.32,2141815.11,1286457.36,...,0.089,0.003,0.000,0.015,74.0,36.7,37.3,NaN,NaN,NaN

In [54]:
post_sec_df = post_sec_df.rename(columns={'YEAR': 'year'})
post_sec_df = post_sec_df.rename(columns={'ID': 'id'})

In [55]:
fulldataset_df = money_reportcard_df.merge(post_sec_df, how='left', on=['id', 'year'])

MemoryError: Unable to allocate 21.8 GiB for an array with shape (33, 88716949) and data type float64